/* CODE BA */

.footer__top .footer__nav--container .footer__nav--links a {
  color: #153a59;
  font-size: 14px;
}

footer {
  background: #ffffff;
  color: #153a59;
}
.productitem150529 {float:left;margin-bottom:10px;}
.productimage150529 {padding-right:0;}
.delete150605 {font-size: 12px;position: absolute;top: 10px;right: 0px;background-color: #FFF;}
	
.list150608 {margin:0;padding:0;list-style-type:none;}
.item150608, .delivery150618 {border:1px solid #f0f0f0;border-width: 0 0 0px 1px;padding:15px 0px 15px 15px;;position:relative;}
.delivery150618 {padding:0 0 0 15px;border:none;}
.item150608 .row {margin:0;}
.itemdata150608 {border-bottom: 1px solid #f0f0f0;margin-left:0;}
.itemdata150608 .col-xs-4 {padding: 6px 12px;height: 34px;}
.itemdata150608 .col-xs-4:first-child {padding: 0px;}
.itemdata150608 .form-control {border:none;box-shadow:none;border-radius:0;}
.itemdata150608 .form-control:hover, .itemdata150608 .form-control:focus {background-color: #f0f0f0;}
.stock150619 {background-repeat:no-repeat;background-position:left center;margin-left:-20px;padding-left:20px;}
.stock150619.onstock {background-image: url('/_ui/desktop/theme-babyartikel/assets/images/onstock.svg')}
.stock150619.nostock {background-image: url('/_ui/desktop/theme-babyartikel/assets/images/nostock.svg')}
.stock150619.onstock.big {background-size:17px 17px;height:17px;margin-left:-23px;padding-left:23px;display:inline-block;margin-bottom:30px;}
.stock150619.nostock.big {background-size:17px 17px;height:17px;margin-left:-23px;padding-left:23px;display:inline-block;margin-bottom:30px;}
.delete150618 {position: absolute; top:0px; right:0px;color:#d5d5d5;}
.col-xxs-4, .col-xxs-8 {float:right !important;padding:0 !important;}
@media (min-width:1200px){.item150608 div.col-md-8 {padding-left:0px;}}
@media (min-width:345px) {
	@media (max-width:767px) {
		.col-xxs-4 {width: 33.334%} .col-xxs-8 {width:66.666%} .image150608 {display:block;width:100%;}
	}
}
@media (max-width:345px) {
	.image150608 {display:block;width:100%;text-align:center}
}
@media (max-width:991px) {
	@media (min-width:768px) {
		.image150608 {display:block;width:100%;text-align:center;}
	}
}

#change-account{-moz-box-shadow:0 1px 0 0 #fff6af;-webkit-box-shadow:0 1px 0 0 #fff6af;box-shadow:0 1px 0 0 #fff6af;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ffec64),color-stop(1,#ffab23));background:-moz-linear-gradient(top,#ffec64 5%,#ffab23 100%);background:-webkit-linear-gradient(top,#ffec64 5%,#ffab23 100%);background:-o-linear-gradient(top,#ffec64 5%,#ffab23 100%);background:-ms-linear-gradient(top,#ffec64 5%,#ffab23 100%);background:linear-gradient(to bottom,#ffec64 5%,#ffab23 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64',endColorstr='#ffab23',GradientType=0);background-color:#ffec64;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #fa2;display:inline-block;cursor:pointer;color:#333;font-family:Arial;font-size:15px;font-weight:700;padding:6px 24px;text-decoration:none;text-shadow:0 1px 0 #fe6;margin:2px}#change-account:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#ffab23),color-stop(1,#ffec64));background:-moz-linear-gradient(top,#ffab23 5%,#ffec64 100%);background:-webkit-linear-gradient(top,#ffab23 5%,#ffec64 100%);background:-o-linear-gradient(top,#ffab23 5%,#ffec64 100%);background:-ms-linear-gradient(top,#ffab23 5%,#ffec64 100%);background:linear-gradient(to bottom,#ffab23 5%,#ffec64 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23',endColorstr='#ffec64',GradientType=0);background-color:#ffab23}#change-account:active{position:relative;top:1px}


/* END */