/* gambi carrousel atras do menu
.big-slider{
	margin-top: -90px;
}*/

#search {
	/* background: rgba(255,255,255,0.8) !important; */
	min-width: 370px !important;
}

#main-slider.home {
	margin-top: -90px;
}

#bar-secondary {
	background: url(../../images/BG-barra-de-beneficios-110x1600.jpg) center;
	background-size: cover;
	overflow: hidden;
	/*background-size: auto 100%;*/
	min-height: 139px;
	border-top: dotted 2px rgba(0,0,0,0.5);
	margin-top: -2px;
	position: relative;
}

#section-secondary {
	overflow: hidden;
}

#section-secondary #collection {
	background: url(../../images/BG-vitrine-principal.jpg) center top;
	overflow: hidden;
	position: relative;
	padding-top: 20px;
}

#section-secondary #collection .container,
#section-social .container {
	position: relative;
}

#section-secondary #collection .container {
	padding-top: 0;
}

#section-secondary #collection header {
	margin-top: 30px;
	text-shadow: 0 0 4px #fff;
}

#section-secondary #collection .container .left {
	width: 22%;
}

#section-secondary .palmeira.right {
	z-index: 101;
}

#section-secondary #collection .container .right {
	right: 0;
}

#section-recomenda {
	background: #fff;
}

#section-recomenda .product-infinite-wrapper {
	margin-top: 30px;
}

#section-social {
	background: url(../../images/BG-instagram.jpg) center center;
	background-size: cover;
}

#bar-secondary ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
#bar-secondary ul {
    display: inline-block;
}

#bar-secondary ul li {
	float: left;
	width: 25%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-width: 200px;
	padding: 40px 0 18px 20px;
}

#bar-secondary ul li:first-child {
	padding-left: 0;
}

#bar-secondary ul li a {
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 15px;	
	font-family: 'Myriad Pro', sans-serif;
	-moz-transform: translate3d(0, 0, 0);
	line-height: 1.2em;
	text-shadow: 1px 1px 2px #666;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#bar-secondary ul li i {
	display: inline-block;
	margin-right: 10px;
	height: 50px;
	float: left;
}

#bar-secondary ul li b {
	font-family: 'Myriad Pro', sans-serif;
	-moz-transform: translate3d(0, 0, 0);
	font-weight: bold;
}

#bar-secondary ul li i img {
	vertical-align: middle;
	max-height: 36px;
}

#bar-secondary ul li span {
	max-height: 50px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Myriad Pro', sans-serif;
	-moz-transform: translate3d(0, 0, 0);
}

#collection .container {
	padding: 20px 0;
}

#collection .left p {
	text-align: justify;
	line-height: 1.5em;
	font-size: 15px;
	margin: 25px 0;
	padding-right: 30px;
}

#collection .left ul {
	margin: 20px 0;
}

#collection .left ul li {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.8em;
	text-transform: uppercase;
}

#collection .left ul li:before {
	content: '\f067';
	color: #6cb997;
	font-size: 10px;
	margin-right: 5px;
	font-family: 'fontawesome'
}
#collection header h1 {
	color: #000000;
	margin-top: -20px;
}

#collection header h1 b {
	display: block;
	color: #156ca5;
	position: relative;
	top: -10px;
	font-size: 72px;
	left: -22px;
}

#collection .product-slider .product{
	position: relative;
}

#section-secondary #collection .container {
	width: 100%;
	max-width: 5000px !important;
}

#section-secondary #collection .container .left {
	position: relative;
	width: auto;
	margin: 20px auto;
	max-width: 1200px;
	float: none;
}

#section-secondary #collection .container .left > .right {
	position: absolute;
	left: 0;
	width: 30%;
}

#section-secondary #collection .container > .right {
	width: 60%;
}

#surf-based-suggestions {
	background: #FFF;
	padding: 20px 0;
}

#banner-newsletter {
	background-image: url("../../images/BG-barra-newletter.jpg");
	background-position: top center;
}

#banner-newsletter .container {

}

#banner-newsletter .banners {
	overflow: hidden;
	float: left;
}

#banner-newsletter .banner {
	width: 450px;
	height: 274px;
	float: left;
}

#banner-newsletter .banners .banner:first-child {
	margin-left: 0;
}

#banner-newsletter .banners .banner:last-child {
	margin-right: 0;
}

#banner-newsletter .banner-cartao {
	background: url(../../images/banner-cartao.png);
}

#banner-newsletter .banner-cancer {
	background: url(../../images/banner-cancer.png);
}

#banner-newsletter .newsletters {
	padding: 15px;
	overflow: hidden;
	background-color: #000;
	color: #fff;
	float: left;
	width: 300px;
	height: 274px;
	box-sizing: border-box;
}

#banner-newsletter .newsletters h3 {
	font-size: 20px;
	margin-bottom: 12px;

}

#banner-newsletter .newsletters input[type=text],
#banner-newsletter .newsletters input[type=email] {
	border: 1px solid #c6c6c6;
	padding: 5px;
	font-size: 12px;
	width: 100%;
	margin-bottom: 5px;
}

#banner-newsletter .newsletters .input,
#banner-newsletter .newsletters label {
	width: 90%;
	display: inline-block;
	margin: 0 0 5px;
}

#banner-newsletter .newsletters label {
	margin: 0;
	padding: 7px 0;
}

#banner-newsletter .newsletters input[type='radio'] {
	width: auto;
	margin: 0 5px 0 0;
	float: none;
}

#banner-newsletter .newsletters button {
	margin-right: 14px;
	border: 2px solid #C50A71;
	border-radius: 5px;
	background: #1f1f1f;
	background: rgba(0,0,0,0.2);
	color: #fff;
	padding: 7px 10px;
	font-size: 14px;
	margin-top: 3px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

#banner-newsletter .newsletters .right button:hover {
	background: #111;
	background: rgba(0,0,0,0.7);
}

#section-video {
	overflow: hidden;
}


#section-video p{
	display: none;
}

#section-video img {
	width: 100%;
}

#section-social {
	position: relative;
	padding: 20px 0;
}

#section-social .container {
	overflow: hidden;
	height: 490px;
}

#section-social .box-instagram {
	display: inline-block;
	margin-bottom: 10px;
	float: left;
}

#section-social .box-instagram header {
	float: left;
	position: relative;
	width: 840px;
	float: left;
}

#section-social .box-instagram header h1 {
	color: #C50A71;
	font-family: "bebas_neue";
	font-size: 30px;
}

#section-social .box-instagram header h1 b {
	color: #000;
	display: block;
	font-family: "bebas_neue";
	font-size: 40px;
}

#section-social .instagram-list {
	position: relative;
	width: 1200px;
}

#section-social .instagram-list li {
	float: left;
	position: absolute;
	margin: 2px 1px;
	width: 256px;
	height: 256px;
}

#section-social .instagram-list li img {
	width: 100%;
	height: 100%;
}

#section-social .instagram-list li.i1 {
	width: 306px;
	height: 306px;
	left: 0;
	top: 110px;
}

#section-social .instagram-list li.i2 {
	width: 273px;
	height: 273px;
	left: 309px;
	top: 0;
}

#section-social .instagram-list li.i3 {
	width: 279px;
	height: 279px;
	left: 584px;
	top: -6px;
}

#section-social .instagram-list li.i4 {
	width: 334px;
	height: 334px;
	left: 867px;
	top: -19px;
}

#section-social .instagram-list li.i5 {
	width: 170px;
	height: 170px;
	left: 309px;
	top: 276px;
}

#section-social .instagram-list li.i6 {
	width: 170px;
	height: 170px;
	left: 482px;
	top: 276px;
}

#section-social .instagram-list li.i7 {
	width: 208px;
	height: 208px;
	left: 655px;
	top: 276px;
}

#section-social .instagram-list li.i8 {
	width: 175px;
	height: 175px;
	left: 867px;
	top: 319px;
}

#section-social .instagram-list li.i9 {
	width: 140px;
	height: 140px;
	left: 1046px;
	top: 319px;
}

/*
#section-social .instagram-list li.i1 {
	margin-top: 104px;
}

#section-social .instagram-list li.i1,
#section-social .instagram-list li.i4,
#section-social .instagram-list li.i7 {
	clear: both;
	float: none;
}

#section-social .instagram-list li.i2,
#section-social .instagram-list li.i3,
#section-social .instagram-list li.i4,
#section-social .instagram-list li.i8 {
	width: 190px;
	height: 190px;
	margin-left: 259px;
}

#section-social .instagram-list li.i3,
#section-social .instagram-list li.i8 {
	margin-left: 451px;
}

#section-social .instagram-list li.i4,
#section-social .instagram-list li.i8 {
	margin-top: 194px;
}

#section-social .instagram-list li.i5,
#section-social .instagram-list li.i6,
#section-social .instagram-list li.i7 {
	width: 94px;
	height: 94px;
	margin-left: 643px;
}

#section-social .instagram-list li.i5 {
	margin-left: 643px;
}

#section-social .instagram-list li.i6 {
	margin-left: 739px;
}

#section-social .instagram-list li.i7 {
	margin-top: 98px;
}
*/

#section-social .box-facebook {
	display: block;
	height: 387px;
	width: 300px;
	float: left;
	margin-bottom: 10px;
}

#section-social .box-facebook header h2 {
	text-transform: none;
}


#main-slider h1.absolute-title {
  position: absolute; 
  top: 200px; 
  left: 50%; 
  z-index: 1; 
  margin-left: -30%; 
  font-family: 'bebas_neue';
  color: #6cb997;
  font-size: 90px;
}
#main-slider ul.absolute-cta {
  position: absolute;
  right: 50%;
  z-index: 10;
  top: 200px;
  margin-right: -30%;
}

#main-slider ul.absolute-cta li a {
  background-image: url();
  color: #000;
  font-family: 'bebas_neue';
  font-size: 30px;
}
#main-slider ul.absolute-cta li a span {
  font-size: 20px; 
  color: #6cb997;
}

.modal-home {display: none;}

.modal-beneficios h1 {margin-bottom: 20px; color: #fff;}
.modal-beneficios h2 {margin: 10px 0;}
.modal-beneficios p {line-height: 20px; padding: 0; margin: 0;}

.fancybox-skin {background: #000; color: #999;}
.fancybox-close {background: url("../../js/fancybox/fancy-close-dzarm-white.png") no-repeat scroll center center rgba(0, 0, 0, 0);}

.fancybox-wrap{
	width: 915px !important;
}

.product-infinite-wrapper .bx-pager {
	/*bottom: 0 !important;*/
}

.product-section {
margin: 0 auto !important;
}

@media (max-width: 1199px) {

	#main-slider h1.absolute-title {
		top: 160px;
	}

	.palmeira {
		display: none !important;
	}

	#bar-secondary .container {
    	margin: 5px 20px;
	}

	#bar-secondary ul li {
		width: 50%;
		padding: 10px 10px 10px 0;
		line-height: 2em;
		font-size: 13px;
	}

	#bar-secondary ul li span {
		height: 28px;
	}

	#bar-secondary ul li br {
		display: none;
	}

	#bar-secondary ul li i {
		width: 28px;
		height: 28px;
		line-height: 29px;
		margin-right: 10px;
	}

	#bar-secondary ul li i img {
		width: 100%;
		max-height: 28px;
	}

	#main-wrapper .container {
		margin: 0 20px;
	}

	#section-secondary #collection .left ul li {
		float: left;
		margin-right: 20px;
	}

	#section-secondary #collection .container {
		width: auto; 
	}

	#section-secondary #collection .container > .right {
		width: 100%;
		margin-top: 30px;
	}

	#section-secondary #collection .container > .left {
		width: 100%;
	}

	#section-secondary #collection .container .left .right {
		position: static;
		float: none;
		width: auto; 
	}

	#section-secondary #collection header h1 {
		position: relative;
		width: 140px;
		left: 50%;
		margin-left: -80px;
	}

	#section-secondary #collection .container .left {
		width: 100%;
	}

	#banner-newsletter .banners {
		text-align: center;
		margin: auto;
		width: inherit;
		float: none;
	}

	#banner-newsletter .banner {
		margin: 10px 0;
		display: inline-block;
		float: none;
	}

	#banner-newsletter .newsletters{
		float: none;
		width: 900px;
		margin: auto;
		height: auto;
	}

	.product-infinite-wrapper:before {
		display: none;
	}

	#section-social .container {
		height: auto;
	}

	#section-social .box-instagram {
		overflow: hidden;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100% !important;
		height: auto;
	}
	#section-social .instagram-list {
		width: 100%;
	}
	#section-social .instagram-list li {
		position: static;
		float: left !important;
		width: 33% !important;
		height: auto !important;
		margin: 0 !important;
	}

	#section-social .instagram-list li img {
		width: 90% !important;
		height: auto !important;
		margin: 5%;
	}

	#section-social .box-instagram,
	#section-social .box-facebook {
		float: none;
	}

	#section-social .box-facebook {
		width: auto;
		max-width: 340px;
	}
}

@media (max-width: 880px) {

	#bar-secondary {
		padding-bottom: 8px;
	}

	#bar-secondary ul li {
		min-width: 1px;
		line-height: 1.5em;
		float: left;
	}

	#banner-newsletter .banners .banner,
	#banner-newsletter .newsletters
	 {
		width: 100%;
		height: auto;
	}

	#banner-newsletter .banners .banner img {
		width: 100%;
	}
	.absolute-title, .absolute-cta {display: none;}
	#main-slider.home {margin-top: -70px;}

}

@media (max-width: 700px) {
	#bar-secondary ul li {
		height: 54px;
	}

}

@media (max-width: 560px) {
	#main-wrapper .container { margin: 0 10px; }
	#main-slider.home {margin-top: 0px;}


}

@media (max-width: 560px) {

	#bar-secondary ul li {
		width: 100%;
		}

	#banner-newsletter .newsletters{
		width: 100%;
	}

	#section-video {
		margin-bottom: 20px;
	}
	  
}

@media (min-width: 640px) and (max-width: 980px) {
	#section-video {
		margin-bottom: 20%;
	}
}

/* .HOMEPAGE #collection-slider{ */
/* 	float:left; */
/* } */
