.institucional-dicas.banner
{
  margin-bottom:30px!important;
}

.institucional-dicas.banner img
{
  max-width:100%;
  height:auto;
}

#institucional-dicas section
{
  margin-bottom:30px;
}

#institucional-dicas .with-sidebar
{
  padding-bottom:0;
  margin-bottom:20px;
}

#institucional-dicas .with-sidebar > .left
{
  width:770px;
}

#institucional-dicas .with-sidebar > .right
{
  width:360px;
}

#institucional-dicas header h1
{
  margin-bottom:10px;
  color:#6cb997;
  font-family: "bebas_neue";
  font-size:30px;
  border:none;
}

#institucional-dicas article
{
  margin-bottom:50px;
}

#institucional-dicas article:last-child
{
  margin-bottom:20px;
}

#institucional-dicas article header
{
  display:block;
  margin-bottom:20px;
  width:100%;
  position:relative;
}

#institucional-dicas article header h1
{
  display:block;
  font-size:48px;
  margin-bottom:0;
  padding-bottom:0;
  border:none;
}

#institucional-dicas .right header h1:after { display: none; }

#institucional-dicas article header h3
{
  display:block;
  font-size:20px;
}

#institucional-dicas article header .date
{
  color:#000;
  height:75px;
  border:1px solid #000;
  border-top-width:8px;
  display:inline-block;
  vertical-align:top;
  margin:0 10px 0 0;
  padding:10px;
}

#institucional-dicas article header .date strong
{
  display:block;
  font-weight:700;
  line-height:56px;
  font-size:72px;
  text-align:center;
}

#institucional-dicas article header .date span
{
  display:block;
  font-size:20px;
  text-align:center;
}

#institucional-dicas article header .title
{
  display:inline-block;
  vertical-align:bottom;
}

#institucional-dicas article .content,
#institucional-dicas article .content p
{
  color:#000;
  font-size:14px;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  line-height:16px;
  margin-bottom:10px;
  -moz-transform: translate3d(0, 0, 0);
}

#institucional-dicas article .gallery
{
  width:100%;
  display:inline-block;
}

#institucional-dicas article .gallery img
{
  height:auto;
  margin-bottom:10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  float:left;
  margin-right:10px;
}

#institucional-dicas header
{
  position:relative;
}

#institucional-dicas header h1 b
{
  color:#525252;
  display:block;
  font-family: 'bebas_neue', sans-serif;
  font-weight: bold;
  font-size:30px;
}

#institucional-dicas header h1 b span
{
  color:#525252;
}

#institucional-dicas .instagram-list
{
  display:inline-block;
}

#institucional-dicas .instagram-list li
{
  float:left;
  width:116px;
  height:auto;
  margin-right:5px;
  margin-bottom:5px;
}

#institucional-dicas .instagram-list li:first-child
{
  width:360px;
  height:auto;
  display:block;
  float:none;
}

#institucional-dicas .instagram-list li img
{
  height:auto;
  max-width:100%;
  width:100%;
}

#institucional-dicas .facebook .fb-like-box
{
  width:360px;
  height:345px;
}

#institucional-dicas article .gallery img:last-child,#institucional-dicas .instagram-list li:last-child
{
  margin-right:0;
}

#institucional-dicas .filters .pagination {
	text-align: center;
	width: 100%;
}

#institucional-dicas .filters .pagination a {
	color: #6cb996;
}

#institucional-dicas .filters .pagination a.active {
	background: #6cb996;
	color: #FFF;
}

@media (max-width: 1199px) {
	#institucional-dicas .page.with-sidebar > .left { text-align: left; width: 100%; }
	#institucional-dicas .page.with-sidebar > .right { text-align: left; width: 100%; }
	#institucional-dicas .instagram-list li { float: left !important; max-width: 24%; width: 100%; }
	#institucional-dicas article .gallery img { width: 48%; }
}

@media (max-width: 880px) {
	#institucional-dicas article header { height: 73px; }
	#institucional-dicas article header .date { height: auto; float: left; }
	#institucional-dicas article header .date strong { font-size: 24px; line-height: 24px; }
	#institucional-dicas article header .date span { line-height: 20px; font-size: 18px; }
	#institucional-dicas article header .title { margin-left: 125px; display: block;  }
	#institucional-dicas article header h1 { font-size: 32px; }
	#institucional-dicas article header h3 { font-size: 18px; }
}

@media (max-width: 720px) {
	#institucional-dicas .instagram-list li {max-width: 48%; }
}

@media (max-width: 560px) {
	#institucional-dicas article .gallery img {width: 100%; display: block; float: none; }
	#institucional-dicas .consultor img { width: 100%; }
}