.product-main-info .selos li.promocao {
	color: #fff;
}

.compartilhar a[data-pin-href*="pt.pinterest.com/pin/create/button"] {
	margin-left: 3px;
	float: right;
}

#main-wrapper {
	position: relative;
	margin: -3px 0 0 0;
}

#main-wrapper.zoom-activated .container > .container.half, 
#main-wrapper.zoom-activated #quem-comprou {
	display: none;
}

#main-wrapper .container {
	z-index: 1;
}

#page-header {
	padding: 10px 0;
    position: absolute;
   /*  z-index: 999; */
    z-index: 0;
}

.product-page-header {
	position: absolute !important;
	top: 10px !important;
	left: 50%;
	margin-left: -600px;
}

#search #main-menu li:nth-last-of-type(2):hover .sub-menu {
	left: -116.55px;
}

#product-main-img {
	display: none;
	background: #FFF;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9000;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	overflow: hidden;

	-webkit-transition: height 0.3s, top 0.3s, left 0.3s;
	-moz-transition: height 0.3s, top 0.3s, left 0.3s;
	-o-transition: height 0.3s, top 0.3s, left 0.3s;
	transition: height 0.3s, top 0.3s, left 0.3s;
}

#product-main-img.zoomed-in {
	height: 800px;
	position: relative;
	cursor: none;
	background-position: 30% center;
	-webkit-background-size: auto 120%;
	-moz-background-size: auto 120%;
	-o-background-size: auto 120%;
	background-size: auto 120%;
}

#product-main-img .click-to-zoom-out {
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #000;
	border-radius: 50%;
	width: 100px;
	margin-left: -50px;
	margin-top: -50px;
}

#product-main-img .click-to-zoom-out:before {
	content: "";
	font-family: "FontAwesome";
	background: #000;
	display: block;
	height: 3px;
	margin: 49% 20%;
}

#product-main-img-mask {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: none;
}

.container .product-images {
    left:0;
    z-index: 100;
	position: relative;
}

.product-images ul li a div{
	/*margin: 0 0 -5px 0;*/
}

.product-thumbnails ul {
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 2.5%;
    width: 10%;
}

.product-thumbnails ul li {
	margin: 8% 0;
	max-width: 100%;
	height: auto;
	position: relative;
    border: 2px solid #000;
    border-radius: 2px;
}


.container .product-thumbnails img {
	position: relative;
	display: block;
    border-radius: 2px;
    width: 100%;
    height: auto;
}

.container .product-thumbnails li.video a {
	display: block;
	background: #000;
}

.container .product-thumbnails li.video a:after {
	content: "\f01d";
	color: #FFF;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25%;
	width: 100%;
	font-family: "FontAwesome";
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
}

.container .product-thumbnails li.video img {
	opacity: 0.5;
}

.container .product-main-info {
    width: 35%;
   /*  z-index: 110; */
    z-index: 0;
}

#product-main {
    margin-bottom: 1px;
    overflow: hidden;
}

.product-main-info .wrap {
    border: 1px solid rgba(0,0,0,0.2);
    margin-left: 30px;
    padding: 20px;
}

.product-main-info .selos{
	max-width: none;
}
.product-main-info .selos li{
	width: 100px;
}

.product-main-info .cores {
	max-width: none;
	margin-top: 20px;
}

.product-main-info .tamanhos {
	margin: 20px 0;
}

.product-main-info .tamanhos .lista-tamanhos {
	width: 150px;
}

.product-main-info .tamanhos .tabela {
	float: left;
}

.product-main-info header {
	margin-bottom: 15px;	
}

.product-main-info header h1 {
	font-family: 'DIN-Regular';
	text-transform: none;
	font-size: 20px;
	letter-spacing: 0;
	margin: 0;
	line-height: 25px;
}

.product-main-info header span {
	font-size: 10px;
	color: #999;
}

.product-main-info section.clear {
	overflow: hidden;
}

.product-main-info section.clear > div {
	float:left;
	max-width: 51%;
}

.product-main-info > div h3,
.product-main-info section.clear > div h3 {
	color: #727272;
	font-size: 15px;
}

.product-main-info section.clear > div:last-child {
	float: right;
}

.product-main-info div h3 {
	color: #727272;
	margin-bottom: 5px;
	font-size: 15px;
}

.product-main-info .precos strong {
	color: #000;
	margin-bottom: 3px;
}

.product-main-info .precos p {
	color: #727272;
	font-weight: normal;
}

.product-thumbnails ul li.active img {
    border-color: #156ca5;
}

.product-main-info .cores ul li,
.product-main-info .cores ul li a {
 	width: 28px !important;
 	height: 28px;
 	margin-right: 2px !important;
	border-left: 1px solid #000;
}

.product-main-info .tamanhos li {
	float: left;
    height: 30px;
    margin-bottom: 2px !important;
    margin-right: 2px !important;
    padding: 3px 0;
    width: 30px !important;
}

.product-main-info .tamanhos li a {
	line-height: 28px;
	width: 28px;
}

.product-main-info .tamanhos .tabela a {
	border: 0;
	font-size: 11px;
	color: #999 !important;
	display: block;
}
div.tamanhos ul{
    float: left;
    width: 150px !important;
}
.product-main-info .tamanhos .tabela a:before {
	content: '\25B6 ';
}

.product-main-info .precos {
	color: #999;
	margin: 0;
}

.product-main-info .selos li,
.product-mini .selos li{
	text-transform: uppercase;
	font-size: 10px;
    font-family: 'PT Sans', sans-serif; font-weight: bold;
}

.product-main-info .validation-wrapper span{
	width: 260px;
	right: auto !important;
	left: 0;
}

.fancybox-wrap .content{
	padding: 0;
}

.fancybox-wrap{
	width: auto !important;
}

#modal-tabela-medidas { display: none; width: auto; }
#modal-tabela-medidas img {float: left; margin: 0 20px 0 0; }
#modal-tabela-medidas .content { margin-left: 160px;}
#modal-tabela-medidas form { font-size: 18px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #cecece; }
#modal-tabela-medidas form .f-row { margin-bottom: 10px; }
#modal-tabela-medidas form input[type=text] { font-size: 18px; width: 80px; text-align: center; }
#modal-tabela-medidas .tabela h3 { font-size: 18px; margin-bottom: 20px;}
#modal-tabela-medidas .tabela table { width: 100%; font-size: 12px; border: 1px solid #cecece; }
#modal-tabela-medidas .tabela table td, #modal-tabela-medidas .tabela table th { padding: 8px; text-align: center; border: 1px solid #cecece; }
#modal-tabela-medidas .tabela table thead { background: #f7f7f8; font-size: 13px; font-weight: bold; } 
#modal-tabela-medidas .tabela table .selected { background: #156ca5; color: #fff; position: relative; border-top-color: #156ca5; border-bottom-color: #156ca5; }
#modal-tabela-medidas .tabela table th.selected .recommended-arrow { background: #156ca5; color: #fff; position: absolute; bottom: 100%; left: 0; right: 0; font-size: 10px; font-weight: normal; text-align: center; padding: 3px; }
#modal-tabela-medidas .tabela table th.selected .recommended-arrow:after { content: "\f107"; display: block; font-size: 18px; font-family: "FontAwesome"; }

#modal-formas-pagamento { display: none; }
#modal-formas-pagamento .content{width:665px;padding-bottom:10px;}
#modal-formas-pagamento h3 { font-size: 18px; margin-bottom: 30px; }
#modal-formas-pagamento .tabs-header{display: block; margin: 0;}
#modal-formas-pagamento .tabs-header li { width: 12.5%; background: #000; }
#modal-formas-pagamento .tabs-header li.active{ background: #fff;  }
#modal-formas-pagamento .tabs-header li.active a{ opacity: 1; }

#modal-formas-pagamento .tabs-header li a{
	border-radius: 0;
	border-left: 1px solid #5c92b8;
	border-right: 1px solid #42789e;
	text-indent: -9999px;
	opacity: 0.5;
}

#modal-formas-pagamento .tabs-header li:first-child a{
	border-left: 1px solid #cecece;
}

#modal-formas-pagamento .tabs-header li:last-child a{
	border-right: 1px solid #cecece;
}

#modal-formas-pagamento .tabs-header li.her a{ background: url(../../images/card-hering-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.hc a{ background: url(../../images/card-hipercard-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.vs a{ background: url(../../images/card-visa-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.ms a{ background: url(../../images/card-mastercard-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.dn a{ background: url(../../images/card-diners-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.amex a{ background: url(../../images/card-amex-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.elo a{ background: url(../../images/card-elo-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.bl a{ background: url(../../images/card-boleto-48px.png) center center no-repeat; }

/*
#modal-formas-pagamento .tabs-header li.vs a{ background: url(../../images/md-fm-pg-1.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.ms a{ background: url(../../images/md-fm-pg-2.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.dn a{ background: url(../../images/md-fm-pg-3.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.am a{ background: url(../../images/md-fm-pg-4.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.bl a{ background: url(../../images/md-fm-pg-5.png) center center no-repeat; }
*/

#modal-formas-pagamento .tabs-content {
	margin-top: 10px;
	/* margin-right: 20px; */
}

#modal-formas-pagamento .tabs-content table {
	margin: 0;
	width: 100%;
}

#modal-prazos-entrega{display:none;}
#modal-prazos-entrega h3 { font-size: 18px; margin-bottom: 20px; }
#modal-prazos-entrega form { margin-bottom: 20px; }
#modal-prazos-entrega input { font-size: 18px; display: inline-block; width: 140px; text-align: center;; }
#modal-prazos-entrega button { display: inline-block; padding: 6px 9px; vertical-align: top; }
#modal-prazos-entrega .response { font-size: 16px; color: #3E9C00; padding: 10px; border: 1px solid #3E9C00; }

.formas {
/* width: 100%; */
text-align: left;
vertical-align: middle;
border-collapse: collapse;
}

.formas thead th {
font: bold 14px/23px Arial;
text-transform: uppercase;
padding-bottom: 32px;
vertical-align: top;
}

.formas tbody th, .modalPagamento .formas tbody td {
font: 12px/35px "Roboto",sans-serif;
text-transform: uppercase;
height: 34px;
}

.hering-tag{width:20px;height:21px;display:block;background:url(../../images/sprite-produto-details.png) no-repeat;}
.hering-tag.tag-seco{margin-left:3px;}
.hering-tag.tag-maquina{width:27px;background-position: -22px 0;}
.hering-tag.tag-nao{width:20px;background-position: -50px 0;margin-left:4px;}
.hering-tag.tag-engomar{width:24px;background-position: -75px 0;margin-left:2px;}
.hering-tag.tag-naosecar{width:23px;background-position: -102px 0;margin-left:2px;}

.caracteristicas .tabs-header li {
   width: 50%;
}

.caracteristicas .tabs-header li a{
	border-radius: 0;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #cecece;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	letter-spacing: 0;
	margin: 0 0 -2px 0;
}
.caracteristicas .tabs-header li.active a{
	border-radius: 0;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid transparent;
	font-weight: 700;
	letter-spacing: 0;
	margin: 0 0 -2px 0;
}

.caracteristicas .tabs-header{
	border-bottom: none !important;
}

.caracteristicas .tabs{
	margin-top: 1px;
	font-family: "PT Sans",sans-serif;*/
}

.caracteristicas .tabs-content {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 350px !important;
}

.caracteristicas .desc {
	font-size: 15px;
	line-height: 1.3em;	
	color: #727272;
	padding: 0 15px;
}

.caracteristicas table {
	width: 100%;
	font-size: 15px;
}

.caracteristicas h3 {
    font-family: 'PT Sans', sans-serif; font-weight: bold;
	color: #727272;
	padding: 8px 15px;
	border-bottom: 1px dotted #ddd;
	margin-top: 30px;
	font-size: 15px;
}

.caracteristicas tr td {
	width: 50%;
}

.caracteristicas .tab.reviews {
	padding-right: 15px;
	padding-left: 15px;
}

#modal-avaliacao {
	display: none;
	padding: 20px;
	overflow: hidden;
}

#modal-avaliacao .f-row {
	margin-bottom: 10px;
}

#modal-avaliacao label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}
#modal-avaliacao input,
#modal-avaliacao textarea {
	width: 100%;
	font-size: 18px;
}
#modal-avaliacao textarea {
	min-height: 80px;
}

.quantidade input {
	border: 1px solid #000;
	width: 35px;
	font-size: 16px;
	padding: 5px;
	text-align: center;
	margin: 0;
}

.quantidade span {
	font-size: 11px;
	vertical-align: middle;
	display:inline-block;
	color: #000;
	width: 55%;
	margin-left: 5px;
}

.product-mini {
    width: auto;
    text-align: left;
    float: none;
    min-height: 175px;
}

.product-mini > img {
    width: auto;
    height: 160px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    border-bottom: 0;
}

.product-mini .info {
    display:inline-block;
    color: #727272;
    opacity: 1;
    position: static;
    width: auto;
    margin: 0;
    background: 0;
    padding: 0;
    vertical-align: top;
}

.product-mini .info h3 {
    color: #000;
}

.product-mini .precos s,
.product-mini .precos strong,
.product-mini .precos p {
  margin: 2px 0;
}

#product-main .pro-info .esgotado-form {
	overflow: hidden;
	width: 100%;
}

#product-main .pro-info .esgotado-form h3{
	margin-top: 5px;
}

.product-mini .esgotado-form {
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin-bottom: 0;
	padding: 10px;
	border: none;
	display: none;
}
.product-mini .esgotado-form h3 {
	margin-bottom: 5px;
}
.product-mini .esgotado-form input {
	position: static;
	font-size: 12px;
	margin: 0 auto 5px;
}
.product-mini .esgotado-form input[type=text],
.product-mini .esgotado-form input[type=email] {
	width: 50%;
}
.product-mini .esgotado-form .btn {
	margin-top: 10px;
	font-size: 14px;
}

.compartilhar h3 {
	display: block;
	margin-right: 10px;
	margin-bottom: 8px;
}
.compartilhar-interna h3 {
	display: inline-block;
}
.quantidade h3 {
	margin-bottom: 8px;
}

.quantidade h3 {
	margin-bottom: 5px;
}

.compartilhar a {
	color: #000;
	display: inline-block;
	font-size: 23px;
}

.product-main-info{
	position: relative;
}

.product-main-info .add {
	width: 100%;
	margin: 30px 0 20px;
	background: none repeat scroll 0 0 #c50a71 !important;
    color: #fff;
    font-weight: bold;
    padding: 11px 35px 12px 55px !important;
    position: relative;
    border-radius: 3px;
}
#product-main .addToCartForm .productAddToCartPanel .addToCartButton {
	min-width: 350px;
}
.product-main-info p.lupa{
	position: absolute;
	top: 0px;
	left: -20px;
	font-size: 20px;
	color: #7a7a7a;
	cursor: pointer;
}

.features { position: relative; }
.features .f-row { margin-bottom: 10px; padding: 0 10px; }
.features .left { vertical-align: middle; width: 43%; margin-right: 2%; font-size: 14px; display: none; }
.features .left i { margin-right: 6px; float: left; }
.features .left i:before { height: 30px; display: table-cell; vertical-align: middle; }
.features .right { width: 63%; color: #727272; font-size: 12px; }
.features b { display: table-cell; font-weight: bold; height: 30px; vertical-align: middle; }
.features .right a { display: block; width: 100%; color: #727272; line-height: 15px; }
.features .right a:before { content: '\f0da '; font-family: "FontAwesome"; margin-right: 5px; }
.features .right .compartilhar h3 { position: absolute; top: -30px; }
.features .right .compartilhar a { color: #000; width: auto; display: inline-block; font-size: 23px; }
.features .right .compartilhar a:before { content: ''; display: none; }

.product-mini {
	margin-bottom: 15px;
}

.comprar-junto {
	background: #e5e5e5;
	padding: 10px 20px;
	font-size: 16px;
	overflow: hidden;
	margin: 0 -15px 0 0;
}


.esgotado-form {
	padding-bottom: 30px;
	margin-bottom: 10px;
	/* border-bottom: 1px dashed #c7c2c1; */
	margin-top: 20px;
}

.esgotado-form h3 {
	font-family: 'PT Sans', sans-serif; font-weight: bold;
	color: #000 !important;
}

.esgotado-form input {
	display: block;
	width: 80%;
	margin: 5px 0;
	font-size: 14px;
	padding: 6px 8px;
	border: 1px solid #c6c6c6;
}

.esgotado-form .dias label {
	font-size: 14px !important;
	margin-right: 5px !important;
	font-family: 'PT Sans', sans-serif !important;
	font-weight: bold !important;
}

.esgotado-form .dias input {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 0;
	float: none;
}

.esgotado-form .btn {
	font-size: 18px;
	margin-top: 20px;
}


.comprar-junto .left {
	line-height: 18px;
}

.comprar-junto b {
    font-family: 'DIN-Bold', sans-serif;
}

.comprar-junto .comprar {
	margin-top: 4px;
	float: right;
	font-size: 22px;
	font-family: 'DIN-Regular', sans-serif;
	letter-spacing: -.05em;
}

.container.half {
	overflow: hidden;
	margin: 34px 0 0 0 !important;
	font-family: 'DIN-Regular';
	width: 100%;
}

#quem-comprou {
	margin-bottom: 30px;
}

.reviews .center {
	margin-top: 15px;
	text-align: center;
}

.esgotado-form {
	padding-bottom: 30px;
	margin-bottom: 50px !important;
	border-bottom: 1px dashed #c7c2c1;
	  clear: both;
  padding-top: 20px;
}

.esgotado-form h3 {
	font-family: 'PT Sans', sans-serif; font-weight: bold;
	color: #000 !important;
}

.esgotado-form input {
	display: block;
	width: 80%;
	margin: 5px 0;
	font-size: 14px;
	padding: 6px 8px;
	border: 1px solid #c6c6c6;
}

.esgotado-form .dias label {
	font-size: 14px;
	margin-right: 5px;
	font-family: 'PT Sans', sans-serif; font-weight: bold;
}

.esgotado-form .dias input {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 0;
	float: none;
}

.esgotado-form .btn {
	font-size: 18px;
	margin-top: 20px;
}
#modal-tabela-medidas h3 { font-size: 18px; margin-bottom: 20px;}

#modal-tabela-medidas .content p, #modal-tabela-medidas .content strong{display:block;padding-bottom:10px;}
#modal-tabela-medidas .content strong{font-size: 16px;font-weight: bold;padding-top: 20px;}
#modal-tabela-medidas .content p{font-size:12px;}

/*****/
.simplemodal-overlay,.simplemodal-container {
	background-color:#000
}
.simplemodal-container {
	padding-top:10px
}
.simplemodal-close {
	background:url("../img/bt-fechar-modal2.jpg") no-repeat;
	width:22px;
	height:22px;
	position:absolute;
	right:-2px;
	top:-7px
}
.modalMedidas {
	background-color:#000;
	padding:25px 60px;
	margin:7px;
	border:1px solid #666;
	width:630px;
	text-align:center;
	display:none;
	margin-top:0;
	clear:both
}
.modalMedidas:after {
	content:"";
	display:table;
	clear:both
}
.modalMedidas h4 {
	color:#FFF;
	font:47px/50px "Roboto", sans-serif;
	border-bottom:1px solid #666;
	text-transform:uppercase;
	margin:0;
	display:inline-block;
	padding-bottom:10px;
	letter-spacing:9px
}
.itensTabelaMedidas {
	height: auto !important;
    overflow: hidden;
    position: relative;
    width: auto;
	/*clear:both*/
}
.itensTabelaMedidas:after {
	content:"";
	display:table;
	clear:both
}
.tableMedidasTitle,.tableMedidasTitle2,.tableMedidasItens {
	margin:0;
	background-color:#e5e5e5;
}
.tableMedidasTitle dt,
.tableMedidasTitle dd,
.tableMedidasTitle2 dt,
.tableMedidasTitle2 dd,
.tableMedidasItens dt,
.tableMedidasItens dd {
	width:61px;
	height:25px;
	line-height:25px;
	float:left;
	color:#000;
	font:bold 12px "Roboto", sans-serif;
	text-transform:uppercase;
	margin:0;
	text-align: center;
}
.tableMedidasTitle {
	display:inline-block;
	margin-right:-2px;
	overflow:hidden;
	vertical-align:top;
	width: auto;
	max-width:350px;
	float: left;
}
.tableMedidasTitle dt {
	width:100%;
	text-align:left;
	padding:0 5px;
	line-height:25px
}
.tableMedidasTitle dt:nth-of-type(odd) {
	background-color:#b2b2b2
}
.tableMedidasTitle dt:first-child {
	text-indent:-9000em;
	font-size:0;
	background:#000000
}
.tableMedidasTitle span {
	font-size:9px
}
.colright {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: auto;
}
.tableMedidasTitle2 {
	background:none
}
.tableMedidasTitle2 dt {
	background-color:#2c2c2c;
	color:#fff;
	line-height:25px;
	text-align:center;
}
.tableMedidasTitle2 dt:nth-of-type(odd) {
	background-color:#4c4c4c;
	color: #fff;
}
.tableMedidasItens dd.even {
	background-color:#b2b2b2
}
.tableMedidasItens dd.odd {
	background:none
}
.tableMedidasItens a {
	color:#FFF;
	text-decoration:none;
	display:block;
	line-height:25px
}
.contentMedidas {
	clear:both;
	background-position:5px 0;
	background-repeat:no-repeat;
	min-height:538px
}
.contentMedidas:after {
	content:"";
	display:table;
	clear:both
}
.contentMedidas .cont {
	color:#FFF;
	display:none
}
.contentMedidas .textoMedidas {
	float:right;
	width:405px;
	border-left:1px solid #a2a2a2;
	padding-left:20px;
	margin:10px 0 0 0;
	min-height:515px
}
.contentMedidas .textoMedidas h5 {
	color:#FFF;
	font:12px/16px "Roboto", sans-serif;
	text-align:left
}
.contentMedidas .textoMedidas p {
	color:#FFF;
	font:12px/16px "Roboto", sans-serif;
	text-align:left
}
.contentMedidas .textoMedidas h5 {
	margin:0;
	text-transform:uppercase;
	font-weight:bold
}
.contentMedidas .textoMedidas p {
	margin:5px 0 18px 0;
	text-align:justify
}
.medidasMasculina .contentMedidas {
	background-image:url("../images/medidas-masculina.jpg")
}
.medidasFeminina .contentMedidas {
	background-image:url("../images/medidas-feminina.jpg")
}
#simplemodal-container {
	position:absolute !important;
	height:auto !important;
	top:95px !important
}

/*PRODUTO HOTSITE*/


.produto-hotsite .left.product-thumbnails ul{
	margin-top: 120px;
	margin-left: 20px;
}

.produto-hotsite .left.product-thumbnails ul li.detalhe{
	border: none;
	position: absolute;
	height: auto;
	max-width: none;
}

.produto-hotsite .left.product-thumbnails ul li.l1{
	top: -190px;
	left: -42px;
}

.produto-hotsite .left.product-thumbnails ul li.l2{
	left: -57px;
	bottom: -220px;
}

.produto-hotsite .product-thumbnails ul li.detalhe img{
	width: auto;
}

.produto-hotsite .right.product-main-info{
	margin-top: 120px;
}

.produto-hotsite .right.product-main-info .detalhe{
	position: absolute;
}

.produto-hotsite .right.product-main-info .l3{
	top: -115px;
	left: 300px;
}

.produto-hotsite .right.product-main-info .l4{
	top: 556px;
	left: 324px;
}

.product{
	margin-right: 0 !important;
}

.product .info > div h3 {
	font: 14px/14px 'DIN-Regular','PT Sans',sans-serif !important;
	margin: 0 0 5px 0;
}

.pro-info .precos {
	margin-bottom: 	0px;
}

.pro-info .btn-cta {
	margin: 20px 0;
	width: 100%;
}

.pro-info .btn-cta:before {
	top: 3px;
	left: 50px;
}

.addToCartButton:BEFORE{
	background: url("../../../assets/images/ico-bag.png") no-repeat scroll 6px 4px rgba(0, 0, 0, 0);
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 2px;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.addToCartButton:BEFORE:HOVER{
	background: url("../../../assets/images/ico-bag.png") no-repeat scroll 6px -35px rgba(0, 0, 0, 0) !important;
}

.btn-cta:hover {
    background: none repeat scroll 0 0 #ff623c !important;
    text-decoration: none;
}

.product .info > div > ul{
	padding: 0 0 0 1px;
}
.product .info .detalhes {
	font-size: 10px;
}
.product-slider .cores .bx-viewport,
.product-slider .tamanhos .bx-viewport {
	max-width: 190px;
	margin-left: 5px;
}
.product-slider .product .cores .bx-wrapper,
.product-slider .product .tamanhos .bx-wrapper {
	max-width: 190px !important;
}

.selos .lancamento {
	background: #ffacb4;
}
.selos .promocao{
	background: #c50a71;
}

.product-price .selos li, .product .selos li, .pro-info .selos li {
	padding: 5px 0 2px;
}

#quem-comprou{
	background: #fff url('../../../assets/images/bg-quem-comprou.jpg') repeat-x top center;
	margin: 20px 0 0 0;
}
.product-section header h1{
	font-size: 20px;
	letter-spacing: 2px;
}
.product-section header h1 span{
	color: #6cb997;
}
.product-slider .product-who {
	padding-top: 25px;
	position: relative;
	height: 350px;
	max-height: 350px;
	background-position: center 25px;
}

.product-slider .product-who img {
	width: 100%;
	max-width: none;
}

.product-slider .product-who .info {
	top: 25px;
}

#quem-comprou .product-infinite-wrapper:before, #quem-comprou .product-infinite-wrapper:after {
	min-height: 400px;
}
.product-infinite-wrapper:before, .product-infinite-wrapper:after {
	top: 25px;
}

.product-infinite-wrapper:before {
	background: -moz-linear-gradient(left, rgba(206,216,207,1) 0%, rgba(206,216,207,0.9) 35%, rgba(206,216,207,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,216,207,1)), color-stop(35%,rgba(206,216,207,1)), color-stop(100%,rgba(206,216,207,0)));
	background: -webkit-linear-gradient(left, rgba(206,216,207,1) 0%,rgba(206,216,207,0.9) 35%,rgba(206,216,207,0) 100%);
	background: -o-linear-gradient(left, rgba(206,216,207,1) 0%,rgba(206,216,207,0.9) 35%,rgba(206,216,207,0) 100%);
	background: -ms-linear-gradient(left, rgba(206,216,207,1) 0%,rgba(206,216,207,0.9) 35%,rgba(206,216,207,0) 100%);
	background: linear-gradient(to right, rgba(206,216,207,1) 0%,rgba(206,216,207,0.9) 35%,rgba(206,216,207,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced8cf', endColorstr='#00ced8cf',GradientType=1 );
}
.product-infinite-wrapper:after {
	right: 0;
	background: -moz-linear-gradient(left, rgba(206,216,207,0) 0%, rgba(206,216,207,0.1) 35%, rgba(206,216,207,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,216,207,0)), color-stop(35%,rgba(206,216,207,0)), color-stop(100%,rgba(206,216,207,1)));
	background: -webkit-linear-gradient(left, rgba(206,216,207,0) 0%,rgba(206,216,207,0.1) 35%,rgba(206,216,207,1) 100%);
	background: -o-linear-gradient(left, rgba(206,216,207,0) 0%,rgba(206,216,207,0.1) 35%,rgba(206,216,207,1) 100%);
	background: -ms-linear-gradient(left, rgba(206,216,207,0) 0%,rgba(206,216,207,0.1) 35%,rgba(206,216,207,1) 100%);
	background: linear-gradient(to right, rgba(206,216,207,0) 0%,rgba(206,216,207,0.1) 35%,rgba(206,216,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ced8cf', endColorstr='#ced8cf',GradientType=1 );
}

.blue-nav {
	margin-bottom: 20px;
}

.blue-nav .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}
.blue-nav .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background: #000;
}
.blue-nav .bx-wrapper .bx-pager.bx-default-pager a {
	border-color: #000;
}
.btn-blue, .btn-blue:hover {
	background: #c50a71 !important;
	font-family: 'DIN-Regular';
	font-size: 18px;
	letter-spacing: 0;
}
.section-mini header h1 {
	padding: 17px 0;
	font-size: 20px;
	font-family: 'bebas_neue';
}
.section-mini .selos .promocao {
	background: #ec5733;
}
.comment-list .comment header h1 {
	letter-spacing: 0;
}

.product-images ul li a {
	/* background-image: none; */
	background-position: 25% center;
	background-repeat: no-repeat;
	background-size: cover;
}
.product-images {
	padding-top: 51px;
    top: 0;
}
.product-images a img {
	border: 0;
	display: block;
}

.product-images > .bx-controls{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -600px
}

.product-images > .bx-controls .bx-pager {
	display: none;
}

.product-images > .bx-controls .bx-pager-item a {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,0);
	border-radius: 50%;
	text-indent: -1000000px;
	border: solid 1px black;
}

.product-images > .bx-controls .bx-pager-item a.video {
	border-radius: 0;
}

.product-images > .bx-controls .bx-pager-item a.active {
	background: black;

}

.product-images > .bx-controls .loader {
	width: 16px;
	height: 16px;
	background: #000 url('../../../assets/images/loader-produto.gif') no-repeat center;
	padding:5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	margin: 0 0 10px -5px;
	display: block;
}

.loaded.product-images > .bx-controls .bx-pager {
	display: block !important;
}

.loaded.product-images > .bx-controls .loader {
	display: none !important;
}

#feed{
	height: 100px !important;
}

.product-images ul li a .product-main-div {
	background: #FFF;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 900px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 40px;
	z-index: 0;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	overflow: hidden;

	-webkit-transition: height 0.3s, top 0.3s, left 0.3s;
	-moz-transition: height 0.3s, top 0.3s, left 0.3s;
	-o-transition: height 0.3s, top 0.3s, left 0.3s;
	transition: height 0.3s, top 0.3s, left 0.3s;
}

.product-images .fa-search{
	position: absolute; 
	left: 48%;
}

@media (max-width: 1200px) {

	.product-images ul li a .product-main-div {
		background-position: 150% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 620px !important;
	}

	.product-main-img {
		background-position: 50% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.product-main-img.zoomed-in {
		background-position: -50% center;
	}

	#main-wrapper .container {
		margin: 0 20px;
	}

	.container .product-thumbnails {
		width: 55%;
	}

	.container .product-thumbnails li.video a:after {
		font-size: 30px;
	}

	.container .product-main-info {
		width: 45%;
	}

	.container.half > .left, .container.half > .right {
		width: 100%;
		margin: 20px 0;
	}

	.section-mini.right-margin header h1, .section-mini.right-margin .section-mini-content {
		padding-left: 0;
	}

	.product-images > .bx-controls,
	.product-page-header {
		margin-left: -440px;
	}
}

@media(min-width: 1199px){
	
	#page-header.fixedPosition {
		top: 80px;
	}
	#product-main.fixedPosition{
		margin: -255px 0 0 0;	
	}
	
}

@media (max-width: 1177px) {
	.produto-hotsite .left.product-thumbnails ul li.l1,.produto-hotsite .left.product-thumbnails ul li.l2{display:none;}
	.produto-hotsite .left.product-thumbnails ul{margin-left:0;}
}

@media (max-width: 880px) {
	.product-main-img {
		height: 600px;
		background-position: 30% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.product-images ul li a .product-main-div {
		height: 600px;
		background-position: 30% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#page-header .breadcrumb {
		display: none;
	}

	.container .product-thumbnails {
		height: 600px;
	}

	.container .product-thumbnails, .container .product-main-info {
		width: 100%;
	}

	.container .product-main-info .wrap { 
		margin-left: 0;
		margin-top: 20px;
	}
	
	.product-images .fa-search{
		position: absolute; 
		left: 55%;
	}
}

@media(min-width: 881px){
	
	#product-main{
		display: inline-block;
	    float: right;
	    left: 55%;
	    position: absolute;
	  /*   width: 33.39%; */
	  	width: 430px;
	  /*   margin-top: 65px !important; */
	}
	.product-main-info{
		width: 100% !important;
	}

	#page-header.fixedPosition {
		position: fixed;
		top: 0px;
	}	
	#product-main.fixedPosition{
		position: fixed;
  		/* width: 33.39%; */
  		width: 430px;
		left: 55%;
		margin: -290px 0 0 0;
  		top: 50%;	
	}
	.product-main-info.fixedPosition{
		width: 100% !important;
	}
	
}

@media (max-width: 880px) {
	.product-main-img.zoomed-in { height: 600px; }
	.produto-hotsite .right.product-main-info .l3{display:none;}
	.produto-hotsite .right.product-main-info .l4{display:none;}
	.produto-hotsite .right.product-main-info{margin-top: 0;}

	.product-images{
		overflow-x: scroll !important;
		padding-bottom: 12px;
	}
	.product-images ul{ /* Substituir pela declaração dinâmica de largura */
		white-space: nowrap;
	 display: inline-block;}
	.product-images ul li{
		display: inline-block;
		vertical-align: top;
		
	}
	.product-images ul li a{
		 height: auto;
		display: inline-block;
   		vertical-align: top;
	}

	.product-images ul li a div{
		max-width: 100%;
		height: auto;
		/* visibility: hidden; */
	}	

	.product-images ul li .responsive-video {
		background: #eee;
		padding: 310px 0;	
		margin: 0px;
	}
 
	.product-images ul li .responsive-video iframe {
		top: 150px;
		height: 320px;
	}
	
	.product-images .bx-controls{
		display: block;
		margin: 30px 0;
		text-align: center;
	
		position: absolute;
		left: 0px;
		right: 0px;
	}
	
	.product-images .bx-controls .bx-pager-item{
		display: inline-block;
	}
	.product-images .bx-controls a {
		border: 1px solid red;
		background: rgba(255, 255, 255, 0.2);
		text-indent: -9999px;
		display: block;
		width: 15px;
		height: 15px;
		margin: 0 2px;
		outline: 0;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid #6cb997;
	}
	.product-images .bx-controls a:hover, .product-images .bx-controls a.active,.product-images .bx-controls a:target  {
		background: #6cb997;
	}
	#modal-tabela-medidas img {
		display: none;
	}
	#modal-tabela-medidas .content {
		margin-left: 0px !important;
	}

}

@media (max-width: 895px) {
	.tableMedidasTitle2 dt,
	.tableMedidasTitle2 dd,
	.tableMedidasItens dt,
	.tableMedidasItens dd {
		width:40px;
	}
}

@media (max-width: 805px) {
	#modal-formas-pagamento .content{
		width:auto !important;
		padding-bottom:10px;
	}
	
	.product-images .fa-search{
		position: absolute; 
		left: 58%;
	}
}

@media (max-width: 750px){
	.product-images .fa-search{
		position: absolute; 
		left: 61%;
	}
}

@media (max-width: 660px) {
	#main-wrapper .container {
		margin: 0 10px;
	}

	.container .product-thumbnails li.video a:after {
		font-size: 22px;
	}
	.product-images .fa-search{
		position: absolute; 
		left: 66%;
	}
}

@media (max-width: 600px){	

	#modal-formas-pagamento .tabs-header li a {
		background-size: 60% !important;
	}

	.comprar-junto .left,
	.comprar-junto .right {
		float: none;
		width: 100% !important;
		text-align: center;
	}
	.comprar-junto .left {
		margin-bottom: 10px;
	}
	.comprar-junto .comprar {
		display: block;
		float: none;
		width: 100%;
	}


	.product-infinite-wrapper, .product-infinite-wrapper .product {
		width: 235px !important;
		background-size: cover;
	}
	.product-images {
		min-height: 0px;
	}
	.container .product-main-info {
		margin-top: 0px;
	}

	#modal-tabela-medidas {
		width: auto;
	}

	#modal-tabela-medidas img {
		display: none;
	}

	#modal-tabela-medidas .content {
		margin-left: 0;
		padding: 0;
	}

	.tableMedidasTitle {
		width: 115px;
		word-wrap: break-word;
	}

	.tableMedidasTitle dt,
	.tableMedidasTitle dd {
		height: auto;
		padding: 8px;
		line-height: 15px;
	}

	.tableMedidasTitle .barraTitle {
		height: 24px;
		padding: 0;
	}

	.tableMedidasTitle2,
	.tableMedidasItens {
		display: table;
	}

	.tableMedidasTitle2:after,
	.tableMedidasTitle2:before,
	.tableMedidasItens:after,
	.tableMedidasItens:before {
		 content: ''; 
	}

	.tableMedidasTitle2 dt,
	.tableMedidasTitle2 dd,
	.tableMedidasItens dt,
	.tableMedidasItens dd {
		width: 36px;
	}

	.tableMedidasItens dt,
	.tableMedidasItens dd {
		height: 41px;
		line-height: 45px;
	}

	.itensTabelaMedidas {
		height: auto;
		margin-bottom: 20px;
	}

	.itensTabelaMedidas .colright {
		margin-left: -2px;
	}

	.pro-info .btn-cta {
		font-size: 20px;
}

	.pro-info .btn-cta:before {
		left: 20px;
	}
	
	.responsive-video {
		position: relative;
		padding-bottom: 1px;
		padding-top: 25px;
		height: auto;
	}
	
	.responsive-video iframe {
	    height: auto !important;
	    left: 0;
	    position: relative !important;
	    top: 0;
	    width: auto !important;
	}
	div.fancybox-overlay-fixed DIV.fancybox-opened,
	DIV.fancybox-opened,
	div.fancybox-overlay div.fancybox-wrap,
	.fancybox-wrap.fancybox-desktop{
	   left: 20px !important;
	   width: auto !important;
	   margin: 0 auto;
	   overflow: hidden;
	   position: absolute;
	   top: 20px;
	}
	
	.fancybox-wrap{
		width: 915px !important;
	}
	
	
	div#modal-tabela-medidas {
	    display: none;
	    width: 100% !important;
	}
	
	#modal-tabela-medidas .content {
    	width: 100% !important;
	}
	#modal-tabela-medidas .content p,
	#modal-tabela-medidas .content strong{
		margin-left: 0px;
	}
	div#modal-tabela-medidas .content .itensTabelaMedidas{
		height: none !important;
		overflow: hidden;
		margin-bottom: 6px;
		width: 100%;
	}
	.product-images .fa-search{
		position: absolute; 
		left: 71%;
	}
}

@media (max-width: 520px){
	.product-images .fa-search{
		position: absolute; 
		left: 80%;
	}
}

@media (max-width: 430px){
	.product-images .fa-search{
		position: absolute; 
		left: 92%;
	}
}