.responsive-video iframe {
	height: 700px;
	left: 0;
	position: relative !important;
	top: 0;
	width: 100% !important;
}
div.bx-has-pager-vertical{
	margin: 20% 0;
	position: absolute;
	width: 100px;
	z-index: 999;
}
.product-images .bx-wrapper .bx-controls {
	 margin: 16px auto 0;
	position: relative;
	width: 100px;
	z-index: 999;
	display: block !important;
	
}
.product-images .bx-wrapper .bx-viewport{
	height: auto !important;
}
section#product-main{
	 top: 50px !important;
}
.photos a {
    cursor: pointer;
}

.bx-controls .bx-pager-item a {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	border: 1px solid black;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	text-indent: -1000000px;
	width: 10px;
}

.bx-controls .bx-pager-item a.active {
	background: black !important;
}

.bx-controls .bx-pager-item a.video {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	border: 1px solid black;
	border-radius: 0;
	display: inline-block;
	height: 10px;
	text-indent: -1000000px;
	width: 10px;
}



@media (max-width: 881px) {
	div.bx-has-pager-vertical{
		display: none !important;
	}
	.product-images ul li a img {
	    height: auto;
	    max-width: 100%;
	    visibility: hidden;
	}
	.product-images ul li a {
		display: block;
		height: 620px;
	 	background-position: 19% center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media (min-width: 881px) {
	div.bx-has-pager-vertical{
		display: block !important;;
	}
	.product-images ul li a img{
		width: 100% !important;
	}
}