#main-header {
	display: block;
}

#logo-kids img {
	float: left;
	max-width: 18%;
	margin: 30px 0;
}

#bar-secondary {
	background: #fff;
	overflow: hidden;
	background-size: auto 100%;
	min-height: 102px;
}

#bar-secondary .right {
	width: 80%;
}

#bar-secondary .right ul {
	float: right;
	width: 95%;
}

#bar-secondary ul li {
	float: left;
	color: #000;
	width: 25%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.2em;
	min-width: 200px;
	font-size: 15px;
	padding: 34px 40px 28px 0;
}

#bar-secondary ul li i {
	display: inline-block;
	margin-right: 10px;
	height: 50px;
	float: left;
}

#bar-secondary ul li b {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

#bar-secondary ul li i img {
	vertical-align: middle;
	max-height: 36px;
}

#bar-secondary ul li span {
	max-height: 50px;
	display: table-cell;
	vertical-align: middle;
}

#bar-secondary.product-nav .container {
	position: relative;
}

#bar-secondary.product-nav .right {
	width: 100%;
	position: absolute;
	left: 300px;
}

#bar-secondary.product-nav ul {
	background: #e3e3e3;
	width: 100%;
}

#bar-secondary.product-nav ul li {
	width: auto;
	min-width: inherit;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	padding: 0px;
}

#bar-secondary.product-nav ul li.active {
	background: #fde249;
}

#bar-secondary.product-nav ul li.active a,
#bar-secondary.product-nav ul li:hover a {
	color: #3a4cd5;
}

#bar-secondary.product-nav ul li:hover {
	background: #FFE96E;
}

#bar-secondary.product-nav ul li a:hover {
	text-decoration: none;
}

#bar-secondary.product-nav ul li a {
	text-decoration: none;
	display: block;
	padding: 38px 36px;
}

#bar-secondary {
	background: #fff;
	overflow: hidden;
	background-size: auto 100%;
	min-height: 102px;
}

#section-secondary {
	overflow: hidden;
}

#section-secondary #collection {
	background: url(../../images/bg-kids-collection.jpg) repeat;
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #FFF;
}

b.palmeira.green.left {
	width: 600px;
	height: 278px;
	background: url(../../images/bg-kids-play.png) repeat;
	margin-left: 20px;
	margin-top: 180px;
	z-index: 100;
}

#section-secondary #collection .container,
#section-social .container {
	position: relative;
}

#section-secondary #collection .container {
	padding-top: 0;
}

#section-secondary #collection header {
	margin-top: 0px;
	text-shadow: 0 0 4px #fff;
}

#section-secondary #collection .container .left {
	width: 22%;
}

#section-secondary .palmeira.right {
	z-index: 101;
}

#section-secondary #collection .container .right {
	right: 0;
}

#section-recomenda {
	background: #fff;
}

#section-recomenda .product-infinite-wrapper {
	padding-bottom: 30px;
}

#section-social {
	background: url(../../images/bg-home-section-02.jpg) center center no-repeat;
	background-size: cover;
}

#collection .container {
	padding: 20px 0;
}

#collection .left p {
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
	margin: 15px 0;
}

#collection .left ul {
	margin: 20px 0;
}

#collection .left ul li {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.8em;
	text-transform: uppercase;
}

#collection .left ul li:before {
	content: '\25B6';
	color: #2ba9c4;
	font-size: 10px;
	margin-right: 5px;
}

#collection header h1 {
	padding-left: 18px;
}

#collection header h1,
#collection header h1 i {
	color: #2ba9c4;
	font-size: 36px;
}

#collection header h1 b {
	display: block;
	color: #2ba9c4;
	position: relative;
	top: -10px;
	font-size: 72px;
	left: -22px;
}

#section-secondary #collection .container {
	width: 100%;
	max-width: 5000px !important;
}

#section-secondary #collection .container .left {
	position: relative;
	width: auto;
	margin: 20px auto;
	max-width: 1200px;
	float: none;
}

#section-secondary #collection .container .left > .right {
	position: absolute;
	width: 20%;
	left: 0;
	margin-left: 10%;
}

#section-secondary #collection .container > .right {
	width: 61%;
}

#surf-based-suggestions {
	background: #e3e3e3;
	padding: 0;
	z-index: 100;
	min-height: 550px;
}

#surf-based-suggestions .tab-bg {
	background: #e3e3e3;
	border-bottom: 5px solid #fde249;
}

#surf-based-suggestions .tab-bg ul li a {
	display: inline-block;
	padding: 20px 22px 15px;
	font-size: 30px;
	font-family: "Open Sans";	color: #3a4cd5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#surf-based-suggestions .tab-bg ul li a:hover {
	text-decoration: none;
	background: #FFEA79;
}

#surf-based-suggestions .tab-bg ul li.active a {
	background: #fde249;
}

#surf-based-suggestions .tab-bg ul {
	text-align: center;
	position: relative;
	margin-top: -8px;
}

#surf-based-suggestions .tab-bg ul li {
	display: inline-block;
}

#surf-based-suggestions .product-infinite-wrapper {
	display: none;
	height: 475px;
}

#surf-based-suggestions .product-infinite-wrapper#aba1 {
	display: block;
}

#surf-based-suggestions .bx-wrapper {
	margin-bottom: 0;
}

#logo-kids img {
	float: left;
	max-width: 18%;
	margin: 30px 0;
}

@media (max-width: 1199px) {
	#logo-kids {
		text-align: center;
		display: block;
	}

	#logo-kids img {
		display: inline-block;
		float: none;
		clear: both;
		max-width: 1000px;
	}

	#bar-secondary.product-nav .right,
	#bar-secondary .right {
		width: 100%;
		left: 0;
		position: relative;
	}

	#bar-secondary.product-nav .right ul
	#bar-secondary .right ul {
		float: none;
		clear: both;
		width: auto;
	}

	.palmeira {
		display: none !important;
	}

	#bar-secondary .container {
    	margin: 5px 20px;
	}

	#bar-secondary ul li {
		width: 50% !important;
		padding: 10px 10px 10px 0;
		line-height: 2em;
		font-size: 13px;
	}

	#bar-secondary ul li span {
		height: 28px;
	}

	#bar-secondary ul li br {
		display: none;
	}

	#bar-secondary ul li i {
		width: 28px;
		height: 28px;
		line-height: 29px;
		margin-right: 10px;
	}

	#bar-secondary ul li i img {
		width: 100%;
		max-height: 28px;
	}

	#bar-secondary.product-nav .right ul li {
		width: 33% !important;
		font-size: 20px;
	}

	#main-wrapper .container {
		margin: 0 20px;
	}

	#collection .left ul li {
		float: left;
		margin-right: 20px;
	}

	#section-secondary #collection .container {
		width: auto; 
	}

	#section-secondary #collection .container > .right {
		width: 100%;
		margin-top: 30px;
	}

	#section-secondary #collection .container > .left {
		width: 100%;
	}

	#section-secondary #collection .container .left .right {
		position: static;
		float: none;
		width: auto; 
	}

	#section-secondary #collection header h1 {
		position: relative;
		width: 140px;
		left: 50%;
		margin-left: -80px;
	}

	#section-secondary #collection .container .left {
		width: 100%;
	}

	#section-secondary #collection {
		background-size: cover;
	}
}

@media (max-width: 880px) {
	
	#bar-secondary {
		padding-bottom: 8px;
	}

	#bar-secondary ul li {
		min-width: 1px;
		line-height: 1.5em;
		float: left;
	}

	#section-secondary .tab-bg ul li a {
		font-size: 22px;
	}
}

@media (max-width: 700px) {
	#bar-secondary ul li {
		height: 54px;
	}

	#bar-secondary.product-nav .right ul li {
		width: 100% !important;
		height: auto;
		font-size: 18px;
	}

	#bar-secondary.product-nav .right ul li a {
		padding: 10px;
	}
	#section-secondary .tab-bg .container {
		margin: 0;
	}
	#section-secondary .tab-bg ul li,
	#section-secondary .tab-bg ul li a {
		width: 100%;
		display: block;
		border-radius: 0;
	}
}

@media (max-width: 560px) {
	#main-wrapper .container { margin: 0 10px; }
}

@media (max-width: 560px) {

	#bar-secondary ul li {
		width: 100% !important;
	}
}