#header, .nav_main, li.La.auto.parent:hover, .nav_main>ul>li>ul.Lb, li.La.auto.parent:hover,
	.nav_main>ul>li ul.Lb ul.Lc {
	background-color: #000 !important;
}

.nav_main a, #header .miniCart>a .count, #header .headerContent .nav a, #header .headerContent .nav li, #header .headerContent .not_logged_in a,
	#header .headerContent .miniCart .minicart .txtItem, body.page-login #header .headerContent .chat,
	body.page-cartPage #header .headerContent .chat, body.page-multiStepCheckoutSummaryPage #header .headerContent .chat,
	body.page-checkout-login #header .headerContent .chat, body.page-login #header .headerContent .chat a,
	body.page-cartPage #header .headerContent .chat a, body.page-multiStepCheckoutSummaryPage #header .headerContent .chat a,
	body.page-checkout-login #header .headerContent .chat a {
	color: #FFF !important;
}

#header .over-welcome-content a:hover {
	color: #FFF !important;
}

body.page-login #header .headerContent .chat a, body.page-cartPage #header .headerContent .chat a,
	body.page-multiStepCheckoutSummaryPage #header .headerContent .chat a,
	body.page-checkout-login #header .headerContent .chat a {
	border-bottom: 1px solid #000 !important;
}

#header .headerContent .miniCart {
	border: 1px solid #fff !important;
}

.over-welc-space {
	width: 200px;
	top: 30px !important;
}

.for-2 {
	font-size: 12px;
	border: 0;
	padding-top: 2px;
	padding-bottom: 6px
}

#header {
	background-color: #000;
	float: left;
	height: auto;
	padding: 0;
	position: relative;
	width: 100%;
	height: 96px
}

#header .headerContent .nav {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 7px 0
}

#header .headerContent .nav li {
	color: #fff;
	display: block;
	float: left;
	font-size: 8px;
	padding: 0;
	text-transform: uppercase
}

#header .headerContent .nav li:before {
	content: "|"
}

#header .headerContent .nav li:first-child:before {
	content: " "
}

#header .headerContent .nav a {
	display: inline-block;
	color: #FFF;
	font: 8px/12px Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	padding: 0 9px
}

#header .headerContent .nav .content {
	display: inline-block;
	color: #FFF;
	font: 8px/12px Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	padding: 0 9px;
	margin-top: 0
}

#header .secondRow {
	float: right;
	padding: 0
}

#header .siteSearch {
	float: left
}

#header .siteSearch form {
	border: 1px solid #FFF;
	height: 22px;
	width: 346px;
	position: relative;
	background: #FFF
}

#header .siteSearch form .siteSearchInput {
	border: 0;
	margin: 0 !important;
	box-shadow: none;
	height: 22px;
	width: 320px;
	background-color: #fff;
	font: bold 8px/22px Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0 8px !important;
	color: #000;
	min-height: 22px;
	text-transform: uppercase
}

#header .siteSearch form .siteSearchSubmit {
	margin-top: 0;
	height: 22px;
	border-left: 1px solid #000;
	position: absolute;
	right: 0;
	top: 0;
	background: url("../images/lupa-transparente.png") no-repeat scroll
		center center #fff !important
}

#header .siteLogo {
	top: 4px;
	left: 0;
	overflow: hidden;
	position: absolute;
	z-index: 101
}

#header .headerContent .language {
	display: none;
	float: left
}

#header .headerContent .not_logged_in {
	float: left;
	font: bold 11px/24px "Raleway", sans-serif;
	text-transform: uppercase;
	position: relative;
	padding: 0 25px;
	margin-left: 33px;
	background: transparent url("../images/icon-deslogado.png") no-repeat 0
		0;
	color: #FFF;
	height: 35px;
	z-index: 50
}

#header .headerContent .logged_in {
	float: left;
	font: bold 11px/24px "Raleway", sans-serif;
	text-transform: uppercase;
	position: relative;
	padding: 0 30px;
	margin-left: 33px;
	background: transparent url("../images/icon-logado.png") no-repeat;
	color: #FFF;
	height: 37px;
	z-index: 50
}

#header .headerContent .logged_in:hover .over-welcome-content {
	display: block
}

#header .headerContent .logged_in .over-welcome {
	float: left;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

#header .headerContent .logged_in .over-welcome-content {
	display: none;
	position: absolute;
	padding: 0 !important;
	top: 25px;
	z-index: 2222;
	background: #FFF;
	font-size: 8px !important;
	color: #666;
	font-weight: normal;
	box-shadow: 0 5px 10px rgba(19, 19, 19, 0.25);
	-moz-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.25);
	-webkit-box-shadow: 0 5px 10px rgba(19, 19, 19, 0.25)
}

#header .headerContent .logged_in .over-welcome-content span {
	background: url("../images/seta-hover-menu.png");
	position: relative;
	top: -5px;
	width: 5px;
	height: 5px;
	display: inline-block;
	float: left;
	margin-bottom: -4px;
	left: 6px
}

#header .headerContent .logged_in .over-welcome-content a {
	display: block;
	color: #000;
	border-bottom: 1px solid #664;
	clear: both;
	letter-spacing: 1px;
	height: 20px;
	padding: 0 8px 2px 8px;
	top: -1px;
	position: relative
}

#header .headerContent .logged_in .over-welcome-content a:last-child {
	border: 0
}

#header .headerContent .logged_in .over-welcome-content a:hover {
	background: #000;
	color: #FFF
}

#header .headerContent .logged_in a, #header .headerContent .not_logged_in a
	{
	color: #FFF;
	text-transform: uppercase
}

#header .headerContent .miniCart {
	float: right;
	border: 1px solid #FFF;
	position: relative;
	height: 22px;
	line-height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 10px 0;
	font-family: "Roboto"
}

#header .headerContent .miniCart .minicart {
	display: block;
	width: 68px;
	position: relative;
	background: rgba(0, 0, 0, 0) url("../images/icon-bag.png") no-repeat 0
		1px;
	height: 22px;
	padding: 0
}

#header .headerContent .miniCart .minicart .count {
	position: absolute;
	left: 22px;
	top: 7px;
	font: bold 9px "Raleway", sans-serif
}

#header .headerContent .miniCart .minicart .txtItem {
	position: absolute;
	width: auto;
	color: #fff;
	font-size: 8px;
	top: 0;
	left: 38px
}

#header .headerContent .miniCart .minicart .price {
	display: none !important
}

#header .siteLogo {
	padding: 20px 0
}

#header .headerContent {
	float: right
}

#header .headerContent.secondRow {
	clear: both;
	margin: 5px 0 0 0
}

#header .headerContent .nav>li.miniCart>a {
	text-transform: lowercase
}

#header .headerContent .language {
	float: right;
	height: 30px;
	margin: 0 30px 0 0
}

#header .headerContent .language li {
	float: left;
	height: 30px;
	margin: 0 10px 0 0
}
#header #nav_main .simple_disp-img{
	display:none;
}