.productList-li {clear:both}
.productList-li .productListItem-li {border-bottom:1px solid #c1c1c1;margin:25px 5px 40px}
.productList-li .productListItem-li .thumb-li {float:left}
.productList-li .productListItem-li .thumb-li img {margin-right:15px;width:220px}
.productList-li .productListItem-li .head-li,.color-li,.price-li,.pricex-li {margin-left:240px;padding:0 0 1px;font-family:Roboto}
.productList-li .productListItem-li .head-li {border-bottom:1px solid #c1c1c1;color:#000;font-size:20px;font-weight:normal;margin-bottom:20px;line-height: 27px;padding-bottom: 15px;padding-top: 10px;}
.productList-li .productListItem-li .color-li {margin-bottom:30px}
.productList-li .productListItem-li .price-li {color:#000;font-size:12px;font-weight:normal;text-transform:uppercase;margin-bottom:10px;margin-top:40px}
.productList-li .productListItem-li .pricex-li {color:#000;font-size:20px;font-weight:normal;text-transform:uppercase}
.productList-li .productListItem-li .cart-li {margin:0 0 0 240px;padding:5px 0}
.productList-li .productListItem .cart-li .add_to_cart_form-li {float:right;width:29%}
.productList-li .productListItem-li .cart-li .collect_from_store-li {float:right;margin-right:10px;width:29%}
.productListItem-li button.addToCartButton-li {float:left;width:340px;height:35px;background:#2db05e;font-size:18px;letter-spacing:2px;font-weight:lighter}
.priceContainer-li .search-flags {float:left;position:absolute;right:-126px;top:260px;width:100%}
.priceContainer-li .search-flags .product-attractions-free-shipping,.priceContainer .search-flags .productattractions-new,.priceContainer-li .search-flags .product-attractions-sale {background:none repeat scroll 0 0 #000;color:#fff;font:10px/16px "Roboto",sans-serif;margin-bottom:3px;padding:1px 4px;text-align:center;text-transform:uppercase;width:90px}
.priceContainer-li .search-flags .product-attractions-sale {background:none repeat scroll 0 0 #eb272b}
.line-t {text-decoration:line-through}
.search-space {margin-left: 240px}
.productList-li .productListItem-li .sizes-box {display: block !important; width: 460px !important; clear: none !important;  margin: 8px 0 60px 5px !important; border: 0; height: auto; float:left; font: 10px "Roboto", sans-serif}
.productList-li .productListItem-li .sizes-box  ul {display: block !important}
.productList-li .productListItem-li .sizes-box ul li {margin: 0 5px 0 0 !important; display: block}
.productList-li .productListItem-li .sizes-box .OutOfStock-1 {border: 1px solid #e3e3e3 !important}
.productList-li .productListItem-li .sizes-box .OutOfStock-1:hover {border-color: #23cd63 !important}
.productList-li .productListItem-li .sizes-box .InStock-1 {border: 1px solid #000 !important}
.productList-li .productListItem-li .sizes-box .InStock-1:hover {border-color: #23cd63 !important; color: #000 !important}
