# Created by https://www.gitignore.io/api/java

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
.gitignore.swp
.settings/*
/*/*/.settings/*
/*/.settings/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#general files in all extensions
/*/extensioninfo.xsd
/*/build.xml
/*/gensrc
/*/classes
/*/eclipsebin
/*/addons/*

/extensioninfo.xsd
/build.xml
/gensrc
/classes
/eclipsebin
/addons/*

*-testclasses.xml
*-webtestclasses.xml
hmc.xsd
beans.xsd
items.xsd
rebel.xml
platformhome.properties


yb2bacceleratorstorefront/

