#page-header.search {
    padding-bottom: 20px;
    border-bottom: 1px dotted #404040;
}

#page-header h1 {
  font-size: 50px;
  color: #b295a9;
  font-weight: bold;
}

#page-header h2 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

#page-header h2 b {
  color: #000;
}

.page.with-sidebar > .right #results {
	width: 950px;
}

.filters {
	overflow: hidden;
	text-align: right;
	padding: 15px 0;
	font-size: 14px;
	color: #727272;
}

.filters > div {
	display: inline-block;
	margin-left: 40px;
}

.filters > div > label {
	margin-right: 10px;
}

.filters.center {
	text-align: center;
}

.filters.center div {
	margin: 0;
}

.filters select {
	font-size: 14px;
	vertical-align: middle;
}

.filters .diagramming i { 
	color: #dedede;
}

.filters .diagramming i.selected { 
	color: #727272;
}

.categories {
	margin-bottom: 40px;
}

.category input[type=radio], .category input[type=checkbox] {
  margin: 0 5px;
}

.categories dl {
  color: #727272;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.categories dl.title {
  padding-top: 20px;
}

.categories .category dl, .categories .category h3 {
  font-size: 15px;
  border-bottom: 1px dotted #b295a9;
  color: #000;
  padding: 10px 0;
  margin: 18px 0 10px;
  cursor: pointer;
  position: relative;
}

.categories .category dl:after, .categories .category h3:after {
	content: '-';
	position: absolute;
	right: 0;
}

.category .cat-links, .category .cat-links ul {
	display: inline-block;
	width: 100%;
}

.categories .category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories .category ul li a {
  color: #727272;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}

.categories .category ul li a .close {
  float: none;
  vertical-align: bottom;
  text-decoration: none !important;
  border: 0 !important;
}

.categories .category .cat-links ul:last-child {
  display: none;
}

.categories .category .cat-links ul:first-child {
  display: inline-block;
}

.categories .category .show-all,
.categories .category .guide {
  color: #727272;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
}

.categories .category .show-all:before,
.categories .category .guide:before {
  font-size: 8px;
  margin-right: 5px;
}

.categories .category .show-all:before {
  content: "\25BC ";
}

.categories .category .show-all.minus:before {
  content: "- \00A0";
}

.categories .category .guide:before {
	content: "\F0DA";
	font-family: "FontAwesome";
}

.categories .category.closed dl:after, .categories .category.closed h3:after {
	content: '+' !important;
}

.categories .category.closed .cat-links, .categories .category.closed .search-box {
  display: none;
}

.categories .sizes ul li,
.categories .cores ul li {
	display: block;
	float: left;
}

.categories .sizes ul li a {
	width: 29px;
	height: 29px;
	line-height: 30px;
	color: #8f8f8f;
	display: inline-block;
	border: 1px solid #8f8f8f;
	margin: 5px 1px 2px 5px;
	text-align: center;
	border-radius: 50%;
}
.categories .sizes ul li a:hover {
	color: #FFF;
	background: #8f8f8f;
	text-decoration: none;
}

.categories .cores ul li {
	position: relative;
}

.categories .cores ul li a { 
	display: block;
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.categories .with-search-box ul.scroller-box {
	height: 224px;
	overflow: scroll;
	padding-right: 10px;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.categories .with-search-box ul.scroller-box::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.categories .with-search-box ul.scroller-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.categories .with-search-box .search-box {
	background: #FFF;
	width: 100%;
	padding: 10px;
	border: 1px solid #8f8f8f;
	outline-style: none;
	margin-bottom: 10px;
	font-size: 14px;
}

.categories .product-vertical-slider {
  margin: 20px 0 10px;
}

.categories .prices ul li a {
  background: #f2f2f2;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
}

.categories .banners img {
	margin: 15px 0;
}

.categories .banners .desc {
	text-align: center;
	font-size: 13px;
	line-height: 15px;
}

#product-filters {
	margin-top: 10px;
}

#product-filters ul li a {
	display: block;
	color: #fff;
	padding: 10px 25px 10px 10px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-color: #b295a9;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	font-size: 14px;
}

#product-filters ul li a .close {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 32px;
	line-height: 25px;
}

#product-filters ul li input {
	display: none;
}

#page-header.nao-encontrado h1 {
	min-height: 102px;
	padding-left: 132px;
	padding-top: 5px;
	background: url(../../images/ico-bad.png) top left no-repeat;
	line-height: 1em;
}

#page-header.nao-encontrado h1 b {
	color: #b295a9;
	font-weight: bold;
}

#page-header.nao-encontrado h1 span {
	color: #000;
	font-size: 30px;
	font-weight: normal;
}

#page-header.nao-encontrado h2 {
	font-family: 'PT Sans', sans-serif;
	text-transform: none;
	font-size: 18px;
	margin-top: 30px;
	font-weight: normal;
}

#page-header.nao-encontrado {
	border-bottom: 1px dotted #b295a9;
    margin-bottom: 20px !important;
}

.categorias-tile img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
}

.categorias-tile.half,
.categorias-tile.third {
	display: block;
	width: 100%;
}

.categorias-tile li {
	float: left;
}

.categorias-tile.half li,
.categorias-tile.third li {
	margin-right: 2%;
	margin-bottom: 2%;
}

.categorias-tile.half li {
	width: 49%;
	max-width: 49%;
}

.categorias-tile.third li {
	width: 32%;
	max-width: 32%;
}

.categorias-tile.half li:last-child,
.categorias-tile.third li:last-child {
	margin-right: 0;
}

.nao-encontrado-slider > .container {
	position: relative;
}

.nao-encontrado-slider .options {
	position: absolute;
	bottom: 24px;
	right: 40px;
}

.filters .breadcrumb {
	float: left;
	margin-bottom: 0;
	/*line-height: 1.8em;*/
	margin: 0px;
}

.banner-department {
	width: 100%;
}

.product-infinite-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
}

.page.with-sidebar > .right .banners ul {
	margin-bottom: 20px;
}

.page.with-sidebar > .right .banners li {
	display: inline-block;
	margin-right: 1%;
	width: 32%;
}

.page.with-sidebar > .right .banners li:last-child {
	margin-right: 0;
}

.page.with-sidebar > .right .banners li img {
	width: 100%;
	max-width: 100%;
}

.product-section header h1 {
	/*font-weight: bold;*/
}

/* CATEGORY COLORS */
.faceta-Activewear{
	color: #fb485d;
}

.faceta-Beachwear{
	color: #4ebbb6;
}

.faceta-Underwear{
	color: #daa3a8;
}

.faceta-Loungewear{
	color: #afc8c5;
}

.faceta-Sleepwear{
	color: #9daaba;
}

input.InStock-class{
width: 30px !important;
height: 30px;
margin: 0 !important;
}

/* PINK */
	.pink .loading-icon,
	.pink .left header h1,
	.pink .product-section header h1,
	.pink .product-section header .view-more,
	.pink .filters .pagination li a {
		color: #fb485d;
	}

	.pink .product > img,
	.pink .bx-wrapper .bx-pager.bx-default-pager a {
		border-color: #fb485d;
	}

	.pink #product-filters ul li a,
	.pink .product-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.pink .product-section .bx-wrapper .bx-pager.bx-default-pager a.active,
	.pink .filters .pagination li a.active {
		background: #fb485d;
	}

/* LIGHT PINK */
	.light-pink .loading-icon,
	.light-pink .left header h1,
	.light-pink .product-section header h1,
	.light-pink .product-section header .view-more,
	.light-pink .filters .pagination li a {
		color: #daa3a8;
	}

	.light-pink .product > img,
	.light-pink .bx-wrapper .bx-pager.bx-default-pager a {
		border-color: #daa3a8;
	}

	.light-pink #product-filters ul li a,
	.light-pink .product-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.light-pink .product-section .bx-wrapper .bx-pager.bx-default-pager a.active,
	.light-pink .filters .pagination li a.active {
		background: #daa3a8;
	}

/* GREEN */
	.green .loading-icon,
	.green .left header h1,
	.green .product-section header h1,
	.green .product-section header .view-more,
	.green .filters .pagination li a {
		color: #4ebbb6;
	}

	.green .product > img,
	.green .bx-wrapper .bx-pager.bx-default-pager a {
		border-color: #4ebbb6;
	}

	.green #product-filters ul li a,
	.green .product-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.green .product-section .bx-wrapper .bx-pager.bx-default-pager a.active,
	.green .filters .pagination li a.active {
		background: #4ebbb6;
	}

/* LIGHT GREEN */
	.light-green .loading-icon,
	.light-green .left header h1,
	.light-green .product-section header h1,
	.light-green .product-section header .view-more,
	.light-green .filters .pagination li a {
		color: #afc8c5;
	}

	.light-green .product > img,
	.light-green .bx-wrapper .bx-pager.bx-default-pager a {
		border-color: #afc8c5;
	}

	.light-green #product-filters ul li a,
	.light-green .product-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.light-green .product-section .bx-wrapper .bx-pager.bx-default-pager a.active,
	.light-green .filters .pagination li a.active {
		background: #afc8c5;
	}

/* SILVER */
	.silver .loading-icon,
	.silver .left header h1,
	.silver .product-section header h1,
	.silver .product-section header .view-more,
	.silver .filters .pagination li a {
		color: #9daaba;
	}

	.silver .product > img,
	.silver .bx-wrapper .bx-pager.bx-default-pager a {
		border-color: #9daaba;
	}

	.silver #product-filters ul li a,
	.silver .product-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
	.silver .product-section .bx-wrapper .bx-pager.bx-default-pager a.active,
	.silver .filters .pagination li a.active {
		background: #9daaba;
	}

@media (max-width: 1199px) {
	.category .cat-links, .category .search-box {
		display: none;
	}
	.page.with-sidebar > .right {
		width: 100%;
	}

	.filters .breadcrumb {
		float: none;
		margin-bottom: 15px;
	}

	#main-wrapper .container {
    	margin: 5px 20px;
	}

	.page.with-sidebar > .left,
	.left #product-filters {
		float: none;
		width: auto;
	}

	.page.with-sidebar > .left {
		overflow: hidden;
	}

	.page.with-sidebar > .left header {
		margin: 0 1.5%;
	}
	
	.page.with-sidebar > .right #results {
		position: relative;
		left: 50%;
		float: none;
		margin-top: 25px;
		margin-left: -475px;
	}

	.left #product-filters {
		overflow: hidden;
		width: 100%;
		margin: 0;
	}

	.left #product-filters ul li a {
		font-size: 12px;
	}

	.left.categories .banners {
		display: none;
	}

	.left #product-filters ul li {
		float: left;
		width: 30%;
		margin: 10px 1.5% 0;
	}

	.page.with-sidebar > .left > div {
		width: 30%;
		display: inline-block;
		margin: 0 1.4%;
		vertical-align: top;
	}

	.filters {
		text-align: left;
	}

	.filters > div {
		margin-right: 40px;
		margin-left: 0;
	}

	.filters .view-info a {
		color: #727272;
	}

	/*.product.product-info .info .cores,
	.product.product-info .info .tamanhos,
	.product.product-info .info .precos,
	.product.product-info .info .add {
		opacity: 1;
	}*/

	.page.with-sidebar > .left > .banners {
		display: none;
	}
}

@media (max-width: 1049px) {
	.page.with-sidebar > .right #results {
		width: 640px;
		margin-left: -320px;
	}

	.page.with-sidebar > .right #results.list-mode {
		width: auto;
		margin-left: 0;
		left: 0;
	}
}

@media (max-width: 880px) {
	#page-header h1 {
		font-size: 30px;
	}

	#page-header h2 {
		font-size: 18px;
	}

	.nao-encontrado-slider .options {
		position: static;
		text-align: center;
	}
	.nao-encontrado-slider .view-info {
		margin: 0 !important;
	}
	
	.filters {
		text-align: center;
	}

	.filters > div {
		margin: 10px 0;
		display: block;
	}

	.filters > div select {
		margin: 0;
	}

	.filters .breadcrumb {
		display: none;
	}

	.filters.center > div {
		display: none;
	}

	.filters .diagramming, .filters .search-result {
		display: none;
	}

	.filters .view-info, .filters .relevance {
		display: inline-block;
		min-width: 47%;
		text-align: center;
		margin: 10px 1%;
	}

	.filters .view-info a {
		background: #b295a9 !important;
		color: #FFF;
		padding: 5px 15px;
		border-radius: 14px;
		display: block;
	}

	.filters .view-info a:hover {
		text-decoration: none;
	}

	.filters .relevance select {
		width: 100%;
	}

	.page.with-sidebar > .left {
		margin: 0;
		overflow: hidden;
	}

	.left #product-filters ul li {
		width: 100%;
		margin: 10px 0 0;
	}

	.page.with-sidebar > .left > div {
		width: 100%;
		float: none;
		margin-left: 0;
	}

	.category .cat-links,
	.category .search-box {
		display: none;
	}

	#product-filters .cat-links {
		display: block;
	}
}

@media (max-width: 720px) {
	.page.with-sidebar > .right #results {
		width: 296px !important;
		margin-left: -148px !important;
	}
	
	.product-wrapper {
		margin: 0 auto;
		width: 296px;
	}

	.page.with-sidebar > .right #results.list-mode {
		width: auto !important;
		margin-left: 0 !important;
	}

	.filters .view-info, .filters .relevance {
		width: 100%;
		font-size: 18px;
		margin-right: 0;
		margin-left: 0;
	}

	.banner-department {
		display: none;
	}

	.categorias-tile li {
		width: 100%;
	}
}

@media(max-width: 640px) {
	.page.with-sidebar > .right .banners li {
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}

	.categorias-tile.half li,
	.categorias-tile.third li {
		width: 100%;
		max-width: 100%;
		float: none;
	}
}