/*.product .info .OutOfStock-1,
.product .info .InStock-1,
.product .info .InStock-1-Selected {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
	min-width: 10px;
	height: 10px;
	border-radius: 2px;
	padding: 8px;
	text-align: center;
	line-height: 13px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	border: 1px solid #fff;
	color: #fff;
}

.product .info .OutOfStock-1 {
	background: #ebebeb;
	color: #a6a6a6 !important;
	border-color: #999999 !important;}

.product .info .InStock-1 {
	display: block;
}
	
.product .info .InStock-1-Selected {
	display: block;
	background: #156ca5;
}

.product .info .OutOfStock-1:before,
.product .info .InStock-1-Selected:before {
	color: #fff;
	position: absolute;
	font-family: "FontAwesome";
	font-size: 10px;
	top: -3px;
	right: 0;
}

.product .info .OutOfStock-1:before {
	content: "x";
	color: #a6a6a6 !important;
}


.product .info .InStock-1-Selected:before {
	content: "\f00c";
}*/

.cores li, .product .cores li{
	width: 28px !important;
	height: 28px !important;
	
}
.list-mode .product .info .InStock-1,
.list-mode .product .info .OutOfStock-1 {
	border: 1px solid #000 !important;
	color: #000 !important;	
}

.product .info .detalhes a{
	color: #FFF;
}

.list-mode .product .info .detalhes a{
	color: #000;
}

/* 
.categories .category .cat-links ul:first-child {
  display: inline-block !important;
} */

/* .categories .sizes .cat-links ul:first-child {
  display: inline-block !important;
}
 */
.categories .sizes .cat-links ul:first-child {
display: inline-block !important;
}

/*.bx-viewport {
 height: 30px !important;
}*/

.categories .category dl{
	text-transform: capitalize;
}
/*
.product.product-info .info .add {
background: #ec5732 !important;
display: block;
color: #fff;

text-align: center;
font-weight: bold;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: block;
text-decoration: none;
color: #fff;
height: 27px; 
width: 256px; 
border:0; 
cursor: pointer;
padding: 6px 0 5px 0;
top: 348px;
opacity: 0;
bottom: auto !important;
position: absolute !important;
font: inherit;
vertical-align: baseline;
margin: 5px 20px;
font-size: 16px;
font-weight: bold;
border-radius: 3px;
}*/

.diagramming .selected{
	color: #dedede !important;
}

.product.product-info .add:hover, .pro-info .add:hover {
background: #fff !important;
color: #ec5732 !important;
}

.categories .with-search-box .search-box {
	width: 100% !important; 
} 

.hide{
	display:none;
}
.show{
	display:block;
}