#main-wrapper strong { font-weight: bold; }
#main-wrapper small { color: #6f6f6f; font-size: 14px; font-weight: bold; }

.btn.btn-facebook { font-size: 16px; margin-top: 20px; }
.btn.btn-registro, .btn.btn-enviar { background: #f0765a; width: 100%; font-weight: normal; font-size: 15px; margin-top: 20px; padding: 10px; -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2); box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2); }
.btn.btn-registro:hover, .btn.btn-enviar:hover { background: #b44327; }
.btn.btn-enviar { width: auto; }

#page-header { margin-bottom: 40px; }
#page-header h1 { border-bottom: 1px dotted #969696; padding-bottom: 20px;
color: #000;
font-weight: bold;
font-size: 30px;
}

#main-wrapper > .container { margin-bottom: 30px; }
#main-wrapper header h2 { color: #a1a0a0; font-family: 'PT Sans', sans-serif; font-size: 24px; font-weight: bold; text-transform: none; margin-bottom: 5px; }
#main-wrapper header p {
	margin-bottom: 25px;
	font-size: 15px;
	color: #a1a0a0;
}

.page form .f-row { width: 100%; margin-bottom: 10px; }
.page .f-row a { display: inline-block; width: 100%; font-size: 12px; text-decoration: underline; margin-bottom: 4px; color: #6f6f6f; }
.page .f-row a:before { content: "\f105"; font-family: "FontAwesome"; margin-right: 5px; text-decoration: none; display: inline-block; }
.page form label, .page p.label { display: block; width: 100%; font-size: 15px; font-weight: bold; margin-bottom: 5px; color: #2a2a2a; }
.page form input { width: 100%; padding: 6px; float: none; font-size: 16px; }
.page form input[type="radio"] { width: auto; float: none; }
.page form .nascimento input, .page form .fundacao input { width: 105px; }
.page form .sexo label { font-weight: normal; }
.page form select { width: 100%; font-size: 18px; height: 30px; }

.page form.pj { display:none; }
.page .pfpj { margin-bottom: 20px; }
.page .pfpj label { width: auto; display: inline-block; font-weight: bold; margin-right: 10px; }
.page .pfpj label input { margin-right: 6px; float: none !important; }

.page .column { display: inline-block; width: 24%; margin-right: 3%; padding-right: 3%; vertical-align: top; border-right: 1px dotted #bcbcbc; }
.page .sexo label { width: auto; display: inline-block; }
.page .col-3 { color: #6f6f6f; width: 37%; font-size: 14px; border-right: none; padding-right: 0; margin-right: 0; }
.page .column img { width: 100%; max-width: 100%; margin-bottom: 10px; }
.page .banner p { color: #6f6f6f; margin-bottom: 0.8em; }

.page.identificacao-checkout .col-2 { width: 68%; padding: 0; margin: 0; border-right: none; }
.page.identificacao-checkout .col-2 .container { display: inline-block; margin-bottom: 30px; }
.page.identificacao-checkout .col-2 section { padding-right: 8%; margin-right: 8%; border-right: 1px dotted #bcbcbc; }
.page.identificacao-checkout .col-2 .right section { padding: 0; margin: 0; border: none; }
.page.identificacao-checkout .col-2 .sexo p.label { display: inline-block; width: auto; }
.page.identificacao-checkout .col-2 .right input { max-width: 100%; }

.modal { display: none; }
.modal p { color: #6f6f6f; font-size: 14px; margin-bottom: 10px; line-height: 1.7em; }
.modal label { display: block; font-weight: bold; text-transform: uppercase; margin-bottom: 10px; }
.modal input { width: 60%; padding: 5px; margin-bottom: 10px; }

#modal-email-recuperacao .active p { color: #6f6f6f; font-size: 14px; margin-bottom: 10px; line-height: 1.7em; }
#modal-email-recuperacao .result p { color: #6f6f6f; font-size: 14px; margin-bottom: 10px; line-height: 1.7em; }
#modal-email-recuperacao .result b { font-weight: bold; }
#modal-email-recuperacao .result .btn-red {  
	background: #f0765a; 
	font-size: 15px; 
	margin-top: 20px; 
	padding: 10px;
 	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2);
  	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2); 
}
#modal-email-recuperacao .result .btn-red:hover { background: #b44327; }
.fancybox-inner, x:-moz-any-link, x:default {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.alert-error, .alert-success { font-size: 12px; padding: 10px; border: 1px solid; }
.alert-error { color: #D90000; border-color: #D90000; }
.alert-success { color: #3E9C00; border-color: #3E9C00; }

@media (max-width: 1199px) {
	.page form input { max-width: 100%; }
	#main-wrapper > .container { padding: 0 20px; }
	.page .column { margin-bottom: 30px; }
}

@media (max-width: 880px) {
	#main-wrapper > .container { padding: 0 10px; }
	.page .column { width: 100%; padding: 0; margin: 0 0 30px; border-right: none; }
	.page.identificacao-checkout .col-2 { width: 100%; }
	.page.identificacao-checkout .col-2 .container > div { width: 100%; }
	.page.identificacao-checkout .col-2 .container section { border: none; padding-right: 0; margin: 0 0 30px; }
	.page.identificacao-checkout .col-2 .container .right section { margin-bottom: 0; }
}