footer .container {
  overflow: hidden;
  position: relative;
}

#footer-links {
  background: #b196a7;
  padding: 20px 0;
}

#footer-links section {
  float: left;
}

#footer-links .link-list {
  width: 180px;
}

#footer-links #mais-hering {
  position: absolute;
  width: 470px;
  right: 262px;
}

#footer-links #mais-hering h3 {
  margin-bottom: 20px;
}

#footer-links #mais-hering a {
  text-align: center;
  color: #fff;
  font-weight: bold;
  border: 1px solid #c6c2c2;
  background: #9f8795;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}

#footer-links #mais-hering a:hover {
  text-decoration: none;
  background: #725164;
}

#footer-links #mais-hering div {
    display: table-cell;
    vertical-align: middle;
    width: 98px;
    height: 90px;
    padding: 0 20px;
}

#footer-links #mais-hering a b {
  display: block;
  margin-top: 8px;
}

#footer-links #certs {
  width: 230px;
  padding-top: 33px;
  float: right;
}

#footer-links #certs .left { width: 100px; }
#footer-links #certs .right { width: 110px; }

#footer-links #certs img {
  vertical-align: middle;
  margin-bottom: 5px;
}

#footer-links section h3 {
  color: #fff;
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

#footer-links ul li {
  float: left;
}

#footer-links ul li a {
  display: inline-block;
  width: 140px;
  font-size: 13px;
  color: #565656;
  white-space: nowrap;
  line-height: 1.5em;
}

#footer-links ul li a:hover {
  text-decoration: underline;
}

#footer-disclaimer {
  padding: 15px 0;  
}

#footer-disclaimer .left {
  width: 440px;
}

#footer-disclaimer .left .metodos {
  display: inline-block;
  padding: 3px 0 0;
}

#footer-disclaimer .left .metodos li {
  float: left;
  margin-right: 7px;
}

#footer-disclaimer .right {
  font-size: 12px;
  text-align: left;
  width: 750px;
  line-height: 1.4em;
}

#footer-disclaimer .right p {
  float: left;
  width: 480px;
  text-align: center;
}

#footer-disclaimer .right .social {
  float: right;
  overflow: hidden;
}

#footer-disclaimer .right .social a {
  display: inline-block;
  width: 46px;
  text-align: center;
  color: #b196a6;
  font-size: 26px;
  margin-right: 2px;
}

#footer-disclaimer .right .social i {
  margin-left: 1px;
  line-height: 32px;
}

@media (max-width: 1199px) {
  #main-footer .container {
    margin: 0 20px;
  }

  #main-footer #mais-hering {
    position: static;
    width: auto;
    margin-right: 20px;
  }

  #main-footer #certs {
    float: left;
    width: auto;
  }

  #footer-links #certs .right {
    float: left;
    margin-left: 10px;
  }

  #footer-links .link-list {
    margin-bottom: 20px;
  }

  #footer-disclaimer .left,
  #footer-disclaimer .right {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  #footer-disclaimer .right p {
    text-align: left;
    margin-bottom: 20px;
  }

  #footer-disclaimer .right { 
    margin-bottom: 0;
  }
}

@media (max-width: 880px) {
  #main-footer #certs {
    float: none;
    clear: both;
  }

  #footer-disclaimer .right p,
  #footer-disclaimer .right .social {
    text-align: left;
    float: none;
    width: auto;
  }

  #footer-disclaimer .right .social a {
    text-align: left;
  }

  #footer-disclaimer .right .social a .fa-fw {
    width: auto;
  }
}

@media (max-width: 500px) {
  #main-footer .container {
    margin: 0 10px;
  }
}

@media (max-width: 500px) {
  #footer-links #mais-hering {
    width: 100%;
    height: auto !important;
  }

  #footer-links #mais-hering div {
    height: auto !important;
    padding: 20px;
  }
  
  #footer-links .link-list {
    width: 50%;
    min-width: 155px;
  }

  #footer-links .link-list a {
    font-size: 13px;
  }

  #footer-links #mais-hering a {
    display: block;
    float: none;
    margin-right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: auto;
  }

  #footer-links #mais-hering div {
    width: auto;
    display: block;
    padding: 20px 0;
  }
}