/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}
@media (max-width: 640px) {
	/*Mobile exibe um produto por vez*/
	.product-section .bx-wrapper,
	.product-infinite-wrapper .bx-wrapper {
		width: 298px;
		margin: 0 auto 50px auto;
	}
}

.big-slider .bx-wrapper {
	margin-bottom: 0;
}

.bx-wrapper img {
	width: 100%;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

.big-slider .desc {
	font-size: 14px;
	line-height: 1.3em;
	color: #727272;
	margin-top: 15px;
}
.bx-viewport .product-slider {
	width: 99999% !important;
}
.bx-viewport{
	/*height: 37px !important;*/
}
/** THEME
===================================*/

.bx-wrapper .bx-viewport {
/*	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
*/
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
    	-ms-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.big-slider .bx-wrapper .bx-pager,
.big-slider .bx-wrapper .bx-controls-auto {
	bottom: 15px;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: rgba(255, 255, 255, 0.2);
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 2px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #b196a6;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #b196a6;
}

.big-slider .bx-wrapper .bx-pager.bx-default-pager a {
	border: 2px solid #B196A6;
}

.big-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.big-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fff;
}

.big-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.big-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #B196A6;
}

.big-slider.slider-home .bx-wrapper .bx-pager.bx-default-pager a {
	width: 20px;
	height: 20px;
	margin: 0 1px;
}

.big-slider.slider-home .bx-wrapper .bx-pager.bx-default-pager a {
	background: #e7dfe4;
}

.big-slider.slider-home .bx-wrapper .bx-pager.bx-default-pager a:hover,
.big-slider.slider-home .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #b195a5;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 15px;
	margin-top: 24px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/* PRODUCT SLIDERS */

.bx-viewport .product-slider {
	width: 99999% !important;
}

.product-infinite-wrapper .bx-pager {
	bottom: -40px;
}

/* CONTENT SLIDERS */

.content-slider > div > img,
.content-slider > div > a img {
	float: left;
	max-width: 50%;
	height: auto;
	margin: 0 30px 10px 0;
}

.content-slider header h3,
.content-slider header h3 a {
	color: #b196a6;
	font-size: 40px;
	margin: 0 0 15px 0;
}

.content-slider .content p {
	margin: 0 0 1em 0;
	font-size: 16px;
}

@media (max-width: 880px) {
	.content-slider > div > img, .content-slider > div > a img {
		width: 100%;
		display: block;
		float: none;
		max-width: none;
	}
}