@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.eot');
    src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans.woff') format('woff'),
         url('../fonts/DroidSans.ttf') format('truetype'),
         url('../fonts/DroidSans.svg#droid_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSansBold.eot');
    src: url('../fonts/DroidSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSansBold.woff') format('woff'),
         url('../fonts/DroidSansBold.ttf') format('truetype'),
         url('../fonts/DroidSansBold.svg#droid_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
		 url('../fonts/socicon-webfont.woff2') format('woff2'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}