body{/*      background: url(../../images/bg-home-palmeira.jpg) center 676px no-repeat; */}
 
#bar-secondary {
        background: #156ca5;
        overflow: hidden;
        background-size: auto 100%;
        min-height: 102px;
}
 
#section-secondary {
        background-size: cover;
        overflow: hidden;
		/*margin-top: -55px;*/
} 
.content.mask{
	/*background: url(../../images/bg_vitrine.jpg) no-repeat;*/
	background-size: cover;
}

#collection{
        position: relative;
        overflow: hidden;
        background: url(../../images/bg-transparent-white.png) repeat;
}

 
#collection .container,
#section-social .container {
        position: relative;
}
 
#collection .container {
        padding-top: 0;
}
 
#collection header {
        margin-top: 30px;
        text-shadow: 0 0 4px #fff;
}
 
#collection .container .left {
        width: 22%;
}
 
#collection .palmeira.right {
        z-index: 101;
}
 
#collection .container .right {
        right: 0;
}
 
#section-recomenda {
        background: #fff;
}
 
#section-recomenda .product-infinite-wrapper {
        padding-bottom: 30px;
}
 
#section-social {
        /*background: url(../../images/bg_instagram.jpg) center center no-repeat;*/
        background-size: cover;
}

#bar-secondary ul li, #bar-secondary ul li a {
        float: left;
        color: #fff;
        width: 25%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        line-height: 1.2em;
        text-shadow: 1px 1px 2px #666;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        min-width: 300px;
        font-size: 15px;
}

#bar-secondary ul li {
 		padding: 34px 40px 0 0;
}

#bar-secondary ul li a {
 		padding: 0 40px 0 0;
}
 
#bar-secondary ul li i {
        display: inline-block;
        margin-right: 10px;
        height: 50px;
        float: left;
}
 
#bar-secondary ul li b {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
}
 
#bar-secondary ul li i img {
        vertical-align: middle;
        max-height: 36px;
}
 
#bar-secondary ul li span {
        max-height: 50px;
        display: table-cell;
        vertical-align: middle;
}

.modal-home {
	display: none;
}
 
#collection .container {
        padding: 20px 0;
}
 
#collection .left p {
        text-align: justify;
        line-height: 1.5em;
        font-size: 15px;
        margin: 25px 20px 0 0;
}
 
#collection .left ul {
        margin: 20px 0;
}
 
#collection .left ul li {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.8em;
        text-transform: uppercase;
}
 
#collection .left ul li:before {
        content: '\25B6';
        color: #2ba9c4;
        font-size: 10px;
        margin-right: 5px;
}
 
#collection header h1 {
        padding-left: 18px;
}
 
#collection header h1,
#collection header h1 i {
        color: #156ca5;
        font-size: 36px;
}
 
#collection header h1 b {
        display: block;
        color: #156ca5;
        position: relative;
        top: -10px;
        font-size: 72px;
        left: -22px;
}
 
#collection .container {
        width: 100%;
        max-width: 5000px !important;
}
 
#collection .container .left {
        position: relative;
        width: auto;
        margin: 0 auto;
        max-width: 1200px;
        float: none;
}
 
#collection .container .left > .right {
        position: absolute;
        left: 0;
        width: 22%;
        margin-top: 35px;
}
 
#collection .container > .right {
        width: 73%;
}
 
#surf-based-suggestions {
        background: #FFF;
        padding: 20px 0;
}
 

 
#section-social {
        overflow:hidden;
        position: relative;
        padding: 20px 0;
}
 
#section-social .container {
        overflow: hidden;
}
 
#section-social .box-instagram {
        display: inline-block;
        margin-bottom: 10px;
        float: left;
		max-width: 70%;
}
 
#section-social .box-instagram header {
        float: left;
        position: relative;
        width: 840px;
        float: left;
}
 
#section-social .box-instagram header h1 {
        color: #157ca7;
        font-family: "steelfishregular_italic";
        font-size: 30px;
}
 
#section-social .box-instagram header h1 b {
        color: #000;
        display: block;
        font-family: "steelfish_rgbold_italic";
        font-size: 40px;
}

#section-social .instagram-list {
	max-width: 90%;
}

#section-social .instagram-list li {
	float: left;
	margin: 2px 10px 12px 0;
	width: 126px;
	height: 126px;
	border: 3px solid #FFF;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#section-social .instagram-list li img {
	width: 100%;
	height: 100%;
}
 
/*#section-social .instagram-list li {
        float: left;
        position: absolute;
        margin: 2px 1px;
        width: 256px;
        height: 256px;
}
 
#section-social .instagram-list li img {
        width: 100%;
        height: 100%;
}
 
#section-social .instagram-list li.i1 {
        margin-top: 104px;
}
 
#section-social .instagram-list li.i1,
#section-social .instagram-list li.i4,
#section-social .instagram-list li.i7 {
        clear: both;
        float: none;
}
 
#section-social .instagram-list li.i2,
#section-social .instagram-list li.i3,
#section-social .instagram-list li.i4,
#section-social .instagram-list li.i8 {
        width: 190px;
        height: 190px;
        margin-left: 259px;
}
 
#section-social .instagram-list li.i3,
#section-social .instagram-list li.i8 {
        margin-left: 451px;
}
 
#section-social .instagram-list li.i4,
#section-social .instagram-list li.i8 {
        margin-top: 194px;
}
 
#section-social .instagram-list li.i5,
#section-social .instagram-list li.i6,
#section-social .instagram-list li.i7 {
        width: 94px;
        height: 94px;
        margin-left: 643px;
}
 
#section-social .instagram-list li.i5 {
        margin-left: 643px;
}
 
#section-social .instagram-list li.i6 {
        margin-left: 739px;
}
 
#section-social .instagram-list li.i7 {
        margin-top: 98px;
}*/
 
#section-social .box-facebook {
        display: block;
        height: 387px;
        width: 300px;
        float: left;
        margin-bottom: 10px;
}
 
#section-social .box-facebook header h2 {
        text-transform: none;
}
 
@media (max-width: 1199px) {
        .palmeira {
                display: none !important;
        }
 
        #bar-secondary .container {
        margin: 5px 20px;
        }
 
        #bar-secondary ul li {
                width: 50%;
                padding: 10px 10px 10px 0;
                line-height: 2em;
                font-size: 13px;
        }
 
        #bar-secondary ul li span {
                height: 28px;
        }
 
        #bar-secondary ul li br {
                display: none;
        }
 
        #bar-secondary ul li i {
                width: 28px;
                height: 28px;
                line-height: 29px;
                margin-right: 10px;
        }
 
        #bar-secondary ul li i img {
                width: 100%;
                max-height: 28px;
        }
 
        #main-wrapper .container {
                margin: 0 20px;
        }
 
        #collection .left ul li {
                float: left;
                margin-right: 20px;
        }
 
        #collection .container {
                width: auto;
                z-index: 0;
        }
 
        #collection .container > .right {
                width: 100%;
                margin-top: 30px;
        }
 
        #collection .container > .left {
                width: 100%;
        }
 
        #collection .container .left .right {
                position: static;
                float: none;
                width: auto;
        }
 
        #collection header h1 {
                position: relative;
                width: 140px;
                left: 50%;
                margin-left: -80px;
        }
 
        #collection .container .left {
                width: 100%;
        }
 
 
        .product-infinite-wrapper:before {
                display: none;
        }
 
        #section-social .box-instagram {
                overflow: hidden;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                width: 100% !important;
                height: auto;
        }
		
		#section-social .instagram-list {
				max-width: 100%;
		}
		#section-social .instagram-list li {
				height: auto !important;
				margin: 0 10px 10px 0 !important;
				position: static;
				float: left !important;
				width: 32% !important;
		}

		#section-social .instagram-list li img {
				height: auto !important;
		}
	
        /*#section-social .instagram-list li {
                position: static;
                float: left !important;
                width: 33% !important;
                height: auto !important;
                margin: 0 !important;
        }
 
        #section-social .instagram-list li img {
                width: 90% !important;
                height: auto !important;
                margin: 5%;
        }*/
 
        #section-social .box-instagram,
        #section-social .box-facebook {
                float: none;
				max-width: 100%;
        }
 
        #section-social .box-facebook {
                width: auto;
                max-width: 340px;
        }
}
 
@media (max-width: 880px) {
       
        #bar-secondary {
                padding-bottom: 8px;
        }
 
        #bar-secondary ul li {
                min-width: 1px;
                line-height: 1.5em;
                float: left;
        }
 

}
 
@media (max-width: 700px) {
        #bar-secondary ul li {
                height: 54px;
        }
}
 
@media (max-width: 560px) {
        #main-wrapper .container { margin: 0 10px; }
}
 
@media (max-width: 560px) {
 
        #bar-secondary ul li {
                width: 100%;
                }

}

@media (min-width: 1670px) {
	#collection .container .right{
		width: 67%;
	}
	#collection .bx-wrapper {
		position: relative;
		margin: 0 0 60px;
		padding: 0;
	}
}

@media (min-width: 1900px) {
	#collection .container .right{
		width: 67%;
	}
	#collection .bx-wrapper {
		position: relative;
		margin: 0 0 60px;
		padding: 0;
	}
}