#main-wrapper {
	position: relative;
}

#main-wrapper.zoom-activated .container > .container.half, 
#main-wrapper.zoom-activated .chaordic {
 display: none;
}

#main-wrapper .container {
	z-index: 1;
}

#page-header {
	position: relative;
	padding: 10px;
}

/*#product-main-img {
	background: #FFF;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 570px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	overflow: hidden;

	-webkit-transition: height 0.3s, top 0.3s, left 0.3s;
	-moz-transition: height 0.3s, top 0.3s, left 0.3s;
	-o-transition: height 0.3s, top 0.3s, left 0.3s;
	transition: height 0.3s, top 0.3s, left 0.3s;
}*/

#product-main-img.zoomed-in {
	height: 800px;
	position: relative;
	cursor: none;
	background-position: center;
	-webkit-background-size: contain 100%;
	-moz-background-size: contain 100%;
	-o-background-size: contain 100%;
	background-size: contain 100%;
}

#product-main-img .click-to-zoom-out {
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #000;
	border-radius: 50%;
	width: 100px;
	display: none;
	margin-left: -50px;
	margin-top: -50px;
}

#product-main-img .click-to-zoom-out:before {
	content: "";
	font-family: "FontAwesome";
	background: #000;
	display: block;
	height: 3px;
	margin: 49% 20%;
}

.container .product-thumbnails .product-main-img-mask {
	position: absolute;
	top: 0;
	right: 0;
	width: 85%;
	height: 100%;
	cursor: pointer;
}

.product-main-img-mask i.lupa{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	color: #7a7a7a;
	cursor: pointer;
}

.container .product-thumbnails {
    width: 65%;
    height: 831px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.product-thumbnails ul {
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 2.5%;
    width: 10%;
}

.product-thumbnails ul li {
	margin: 8% 0;
	max-width: 100%;
	height: auto;
	position: relative;
    border: 2px solid #000;
    border-radius: 2px;
}

.container .product-thumbnails img {
	position: relative;
	display: block;
    border-radius: 2px;
    width: 100%;
    height: auto;
}

.container .product-thumbnails li.video a {
	display: block;
	background: #000;
}

.container .product-thumbnails li.video a:after {
	content: "\f01d";
	color: #FFF;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25%;
	width: 100%;
	font-family: "FontAwesome";
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
}

.container .product-thumbnails li.video img {
	opacity: 0.5;
}

.container .product-main-info {
    width: 35%;
}

#product-main {
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
    padding-top: 40px;
}

.product-main-info .wrap {
    border: 1px solid #000;
    margin-left: 30px;
    padding: 20px;
}

.product-main-info .cores {
	max-width: 177px;
	margin-top: 20px;
}

.product-main-info .tamanhos {
	max-width: 170px;
	position: relative;
	display: inline-block;
	margin-top: 10px;
}

.product-main-info header {
	margin-bottom: 15px;	
}

.product-main-info header h1 {
	font-family: 'PT Sans', sans-serif;	
	text-transform: none;
	font-size: 20px;
	margin: 0;
	line-height: 1.3em;
}

.product-main-info header span {
	font-size: 10px;
	color: #999;
}

.product-main-info section.clear {
	overflow: hidden;
}

.product-main-info section.clear > div {
	float:left;
	max-width: 54%;
}

.product-main-info > div h3,
.product-main-info section.clear > div h3 {
	color: #727272;
	font-size: 15px;
}

.product-main-info section.clear > div:last-child {
	float: right;
}

.product-main-info div h3 {
	color: #727272;
}

.product-main-info .precos strong {
	color: #000;
}

.product-main-info .precos p {
	color: #727272;
	font-weight: normal;
}

.product-thumbnails ul li.active img {
    border-color: #156ca5;
}

.product-main-info .cores ul li,
.product-main-info .cores ul li a {
 	width: 28px;
 	height: 28px;
	border-left: 1px solid #000;
}

.product-main-info .tamanhos li a{
	padding: 9px;
}

.product-main-info .tamanhos .tabela, .fancybox.tabela-medidas {
	position: absolute;
	left: 100%;
}

.fancybox.tabela-medidas{
	background: url(../../images/sprite-produto.png) 0 0 no-repeat;
	text-indent: 9999px;
	white-space: nowrap;
	padding: 9px;
	border: 0;
	padding-left: 55px;
	top: 26px;
}
.product-main-info .tamanhos .tabela a {
	border: 0;
	font-size: 11px;
	color: #999 !important;
}

.product-main-info .tamanhos .tabela a:before {
	content: '\25B6 ';
	display: inline-block;
}

.product-main-info .precos {
	color: #999;
	margin: 0;
}

.product-main-info .selos li,
.product-mini .selos li{
	text-transform: uppercase;
	font-size: 10px;
    font-family: 'PT Sans', sans-serif; font-weight: bold;
}

#modal-formas-pagamento { display: none; }
#modal-formas-pagamento h3 { font-size: 18px; margin-bottom: 30px; margin-top: 10px; }
#modal-formas-pagamento .tabs-header{display: block;height: 51px;}
#modal-formas-pagamento .tabs-header li{ background: #4a86b0; }
#modal-formas-pagamento .tabs-header li.active{ background: #fff;  }
#modal-formas-pagamento .tabs-header li.active a{ opacity: 1; }
#modal-formas-pagamento .tabs-header li a{border-left: 1px solid #5c92b8; border-right: 1px solid #42789e; text-indent: -9999px; opacity: 0.5; padding: 0; width: 81px; height: 56px; }
#modal-formas-pagamento .tabs-header li:first-child a{border-left: 1px solid #cecece; }
#modal-formas-pagamento .tabs-header li:last-child a{border-right: 1px solid #cecece; }
#modal-formas-pagamento .tabs-header li.her a{ background: url(../../images/card-hering-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.hc a{ background: url(../../images/card-hipercard-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.vs a{ background: url(../../images/card-visa-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.ms a{ background: url(../../images/card-mastercard-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.dn a{ background: url(../../images/card-diners-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.amex a{ background: url(../../images/card-amex-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.elo a{ background: url(../../images/card-elo-48px.png) center center no-repeat; }
#modal-formas-pagamento .tabs-header li.bl a{ background: url(../../images/card-boleto-48px.png) center center no-repeat; }
#modal-formas-pagamento .content{width:650px;padding-bottom:10px;}

#modal-prazos-entrega{display:none;}
#modal-prazos-entrega h3 { font-size: 18px; margin-bottom: 20px; }
#modal-prazos-entrega form { margin-bottom: 20px; }
#modal-prazos-entrega input { font-size: 18px; display: inline-block; width: 140px; text-align: center; }
#modal-prazos-entrega button { display: inline-block; padding: 6px 9px; vertical-align: top; }
#modal-prazos-entrega .response { font-size: 16px; color: #3E9C00; padding: 10px; border: 1px solid #3E9C00; }

.formas {
width: 100%;
text-align: left;
vertical-align: middle;
border-collapse: collapse;
}

.formas thead th {
font: bold 14px/23px Arial;
text-transform: uppercase;
padding-bottom: 32px;
vertical-align: top;
}

.formas tbody th, .modalPagamento .formas tbody td {
font: 12px/35px "Roboto",sans-serif;
text-transform: uppercase;
height: 34px;
}

.hering-tag{width:20px;height:21px;display:block;background:url(../../images/sprite-produto-details.png) no-repeat;}
.hering-tag.tag-seco{margin-left:3px;}
.hering-tag.tag-maquina{width:27px;background-position: -22px 0;}
.hering-tag.tag-nao{width:20px;background-position: -50px 0;margin-left:4px;}
.hering-tag.tag-engomar{width:24px;background-position: -75px 0;margin-left:2px;}
.hering-tag.tag-naosecar{width:23px;background-position: -102px 0;margin-left:2px;}

.caracteristicas .tabs-header li {
   width: 50%;
}

.caracteristicas .tabs-header li a{
  border-radius: 8px 8px 0 0;
}

.caracteristicas .tabs-header{
	border-bottom: none !important;
}

.caracteristicas .tabs{
	margin-top: 1px;
}

.caracteristicas .tabs-content {
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 350px !important;
}

.caracteristicas .desc {
	font-size: 15px;
	line-height: 1.3em;	
	color: #727272;
	padding: 0 15px;
}

.caracteristicas table {
	width: 100%;
	font-size: 15px;
}

.caracteristicas h3 {
    font-family: 'PT Sans', sans-serif; font-weight: bold;
	color: #727272;
	padding: 8px 15px;
	border-bottom: 1px dotted #ddd;
	margin-top: 30px;
	font-size: 15px;
}

.caracteristicas tr td {
	width: 50%;
}

.caracteristicas.full {
	width: 100%;
}

.caracteristicas.full td:first-child {
	width: 15%;
}

.caracteristicas .tab.reviews {
	padding-right: 15px;
	padding-left: 15px;
}

#modal-avaliacao {
	display: none;
}

#modal-avaliacao .f-row {
	margin-bottom: 10px;
}

#modal-avaliacao label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}
#modal-avaliacao input,
#modal-avaliacao textarea {
	width: 100%;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
}
#modal-avaliacao textarea {
	min-height: 80px;
}

.quantidade input {
	border: 1px solid #000;
	width: 35px;
	font-size: 16px;
	padding: 5px;
	text-align: center;
	margin: 0;
}

.quantidade span {
	font-size: 11px;
	vertical-align: middle;
	display:inline-block;
	color: #000;
	width: 55%;
	margin-left: 5px;
}

.product-mini {
    width: auto;
    text-align: left;
    position: relative;
    float: none;
    min-height: 175px;
}

.product-mini > img {
    width: auto;
    max-width: 160px;
    max-height: 160px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    border-bottom: 0;
}

.product-mini .info {
    display:inline-block;
    color: #727272;
    opacity: 1;
    position: static;
    width: auto;
    margin: 0;
    background: #FFF;
    padding: 0;
    vertical-align: top;
}

.product-mini .info h3 {
    color: #000;
}

.product-mini .precos s,
.product-mini .precos strong,
.product-mini .precos p {
  margin: 2px 0;
}

.product-mini .esgotado-form {
	background: #FFF !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	text-align: center !important;
	margin-bottom: 0 !important;
	padding: 10px !important;
	border: none !important;
	display: none;
}
.product-mini .esgotado-form h3 {
	margin-bottom: 5px !important;
}
.product-mini .esgotado-form input {
	position: static !important;
	font-size: 12px !important;
	margin: 0 auto 5px;
}
.product-mini .esgotado-form input[type=text],
.product-mini .esgotado-form input[type=email] {
	width: 50%;
	min-width: 200px;
}
.product-mini .esgotado-form .btn {
	margin-top: 10px !important;
	font-size: 14px !important;
}

.compartilhar h3,
.quantidade h3 {
	margin-bottom: 8px;
}

.quantidade h3 {
	margin-bottom: 5px;
}

.compartilhar a {
	color: #000;
	display: inline-block;
	font-size: 23px;
}

.product-main-info{
	position: relative;
}

.product-main-info .add {
	width: 100%;
	background: #ec5732;
	margin: 30px 0 20px;
	font-size: 22px;
}

.product-main-info .add:hover {
	background: #b44327;
	color: #FFF;
}

.features { position: relative; }
.features .f-row { margin-bottom: 10px; padding: 0 10px; }
.features .left { vertical-align: middle; width: 43%; margin-right: 2%; font-size: 14px; }
.features .left i { margin-right: 6px; float: left; }
.features .left i:before { height: 30px; display: table-cell; vertical-align: middle; }
.features .right { width: 55%; color: #727272; font-size: 12px; }
.features b { display: table-cell; font-weight: bold; height: 30px; vertical-align: middle; }
.features .right a { display: block; width: 100%; color: #727272; line-height: 15px; }
.features .right a:before { content: '\f0da '; font-family: "FontAwesome"; margin-right: 5px; }
.features .right .compartilhar h3 { position: absolute; top: -30px; }
.features .right .compartilhar a { color: #000; width: auto; display: inline-block; font-size: 23px; }
.features .right .compartilhar a:before { content: ''; display: none; }

.product-mini {
	margin-bottom: 15px;
}

.comprar-junto {
	background: #e5e5e5;
	padding: 10px 20px;
	font-size: 16px;
	overflow: hidden;
}

.comprar-junto .left {
	line-height: 18px;
}

.comprar-junto b {
    font-family: 'PT Sans', sans-serif; font-weight: bold;
}

.comprar-junto .comprar {
	float: right;
	margin: 5px 0;
	padding: 10px 32px !important;
	background: #ec5732;
	text-align: center;
}

.comprar-junto .comprar:hover {
	background: #b44327;
}

.container.half {
	overflow: hidden;
	margin: 0 !important;
}

#quem-comprou {
	margin-bottom: 30px;
}

.reviews .center {
	margin-top: 15px;
	text-align: center;
}

.esgotado-form {
	padding-bottom: 30px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #c7c2c1;
	margin-top: 20px;
}

.esgotado-form h3 {
	font-family: 'PT Sans', sans-serif; font-weight: bold;
	color: #000 !important;
}

.esgotado-form input {
	display: block;
	width: 80%;
	margin: 5px 0;
	font-size: 14px;
	padding: 6px 8px;
	border: 1px solid #c6c6c6;
}

.esgotado-form .dias label {
	font-size: 14px !important;
	margin-right: 5px !important;
	font-family: 'PT Sans', sans-serif !important;
	font-weight: bold !important;
}

.esgotado-form .dias input {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 0;
	float: none;
}

.esgotado-form .btn {
	font-size: 18px;
	margin-top: 20px;
}


/*PRODUTO HOTSITE*/

.produto-hotsite{
	/*background: url(../../../images/hotsite-produto-bg.jpg) top repeat-x !important;
	display: block;*/
}

.produto-hotsite .left.product-thumbnails ul{
	margin-top: 120px;
	margin-left: 20px;
}

.produto-hotsite .left.product-thumbnails ul li.detalhe{
	border: none;
	position: absolute;
	height: auto;
	max-width: none;
}

.produto-hotsite .left.product-thumbnails ul li.l1{
	top: -190px;
	left: -42px;
}

.produto-hotsite .left.product-thumbnails ul li.l2{
	left: -57px;
	bottom: -220px;
}

.produto-hotsite .product-thumbnails ul li.detalhe img{
	width: auto;
}

.produto-hotsite .right.product-main-info{
	margin-top: 120px;
}

.produto-hotsite .right.product-main-info .detalhe{
	position: absolute;
}

.produto-hotsite .right.product-main-info .l3{
	top: -115px;
	left: 300px;
}

.produto-hotsite .right.product-main-info .l4{
	top: 556px;
	left: 324px;
}

.compartilhar a[data-pin-href*="pt.pinterest.com/pin/create/button"] {
	margin-left: 3px;
	float: right;
}

@media (max-width: 1199px) {
	#product-main-img {
		background-position: 150% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 620px !important;
	}

	#product-main-img.zoomed-in {
		background-position: -50% center;
	}

	#main-wrapper .container {
		margin: 0 20px;
	}

	.container .product-thumbnails {
		width: 55%;
	}

	.container .product-thumbnails li.video a:after {
		font-size: 30px;
	}


	.container .product-main-info {
		width: 45%;
	}

	.container.half > .left, .container.half > .right {
		width: 100%;
		margin: 20px 0;
	}

	.section-mini.right-margin header h1, .section-mini.right-margin .section-mini-content {
		padding-left: 0;
	}
}

@media (max-width: 1177px) {
	.produto-hotsite .left.product-thumbnails ul li.l1,.produto-hotsite .left.product-thumbnails ul li.l2{display:none;}
	.produto-hotsite .left.product-thumbnails ul{margin-left:0;}
}

@media (max-width: 880px) {
	#product-main-img.zoomed-in { height: 600px; }
	.produto-hotsite .right.product-main-info .l3{display:none;}
	.produto-hotsite .right.product-main-info .l4{display:none;}
	.produto-hotsite .right.product-main-info{margin-top: 0;}

	#product-main-img {
		height: 600px;
		background-position: 30% center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#page-header .breadcrumb {
		display: none;
	}

	.container .product-thumbnails {
		height: 600px;
	}

	.container .product-thumbnails, .container .product-main-info {
		width: 100%;
	}

	.container .product-main-info .wrap { 
		margin-left: 0;
		margin-top: 20px;
	}

	.esgotado-form .dias label {
		width: auto;
	}
}

@media (max-width: 660px) {
	#main-wrapper .container {
		margin: 0 10px;
	}

	.container .product-thumbnails li.video a:after {
		font-size: 22px;
	}
}

@media (max-width: 460px) {
	.comprar-junto .left,
	.comprar-junto .right {
		float: none;
		width: 100% !important;
		text-align: center;
	}
	.comprar-junto .left {
		margin-bottom: 10px;
	}
	.comprar-junto .comprar {
		display: block;
		float: none;
	}
}