.textBoxInfoParagraphComponent .container ul li{
	box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: 'PT Sans',sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    min-width: 200px;
    padding: 34px 40px 28px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 25%;
}
.textBoxInfoParagraphComponent .container ul li a{
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-family: 'PT Sans',sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    min-width: 300px;
    padding: 0 40px 0 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 25%;
}
.textBoxInfoParagraphComponent .hide{
	display:none;
}
.textBoxInfoParagraphComponent .detail-box{
	overflow: hidden; 
	display: block;
}
