.categories .cores li label input[type="checkbox"] {
	display: none;
}

.categories .category ul li a .close {
	float: none;
	vertical-align: bottom;
	text-decoration: none !important;
	border: 0 !important;
}

.categories .cores li label {
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 27px;
	border: 1px solid #FFF;
	overflow: hidden;
	text-indent: -9999px;
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
}

.categories .cores li {
	border-color: #FFFFFF !important;
}

.categories .cores li, .cores li{
	margin-right: 1px;
	margin-bottom: 1px;
}


