#acc-email-form form label {
	min-width: 215px;
}
#acc-password-form form label {
	min-width: 200px;
}
@media (min-width: 980px) {
	#acc-address-form .rightForm{
		float: right;
		margin-right: 22%;
	}
}

@media (min-width: 980px) {
	#acc-address-form input[id="address.line1"] { width: 449px; }
	#acc-address-form input[id="address.number"] { width: 76px; }
	#acc-address-form input[id="address.postcode"] { width: 105px; }
	#acc-address-form input[id="address.phone1"],input[id="address.phone2"] { width: 170px; }
	#acc-address-form input[id="address.receiver"] { width: 555px; }
	#acc-address-form input[id="address.reference"],input[id="address.complement"] { width: 210px; }
	#acc-address-form input[id="address.district"], input[id="address.townCity"] { width: 245px; }
	#acc-address-form select[id="address.addressType"] { width: 165px; }
	#acc-address-form select[id="address.state"] { width: 210px; }
}

body {color: #5d5d5d; }

#main-wrapper header h1, #main-wrapper header h2, #main-wrapper header h3 {color: #156ca5; font-family: "steelfish_rgbold_italic"; }
#main-wrapper header h1 { font-size: 40px; }
#main-wrapper header h2 { font-size: 35px; }
#main-wrapper header h3 { font-size: 28px; }
.page header h2 { margin-top: 0; margin-bottom: 20px; }
.page.home header h2 { padding-bottom: 0; }

/* Buttons */

#main-wrapper .btn, #main-wrapper .btn:visited { background: #FFF; color: #3f3f3f; width: auto; font-size: 16px; font-family: 'PT Sans', sans-serif; font-weight: bold; margin-right: 10px; margin-bottom: 10px; padding: 6px 35px 5px; border: 3px solid #5e5e5e; border-radius: 5px; }
#main-wrapper .btn:hover, #main-wrapper .btn:active { background: #3f3f3f; color: #fff; border-color: transparent; }
#main-wrapper .btn.btn-ok { height: 34px; font-size: 14px; margin: 0 !important; padding: 6px 8px !important; line-height: normal; text-transform: none; margin-bottom: 20px !important;}
label[for=form-endereco-estado]{width:122px;}
input[name=pesquisa-data-ate-ano],input[name=pesquisa-data-de-ano]{width:65px !important;}

/* Table */

#main-wrapper table { width: 100%; }
#main-wrapper table td big, #main-wrapper table td strong { font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 20px; }
#main-wrapper thead th, #main-wrapper tbody td:before { color: #156ca5; font-size: 18px; padding: 10px; }
#main-wrapper tbody td, #main-wrapper tfoot td { font-family: 'PT Sans', sans-serif; font-weight: 100; font-size: 15px; text-align: center; vertical-align: middle; padding: 15px; }
#main-wrapper .page.home tbody tr { background: #f7f7f8; }
#main-wrapper table .sub-item div.details { display: none; }
#main-wrapper table .sub-item > td { padding: 0; }
#main-wrapper table .sub-item table tr { background: #f7f7f8; border-bottom: 1px dotted #c4c4c5; }
#main-wrapper table .sub-item table tr:last-child { border-bottom: none; }
#main-wrapper table .sub-item table td { max-width: 75%; font-family: 'PT Sans', sans-serif; font-size: 15px; padding: 0 5px; color: #000; }
#main-wrapper table .sub-item table td strong { color: #000; font-family: 'PT Sans', sans-serif; font-weight: bold; }
#main-wrapper table .sub-item table td.brand { background: #989898; width: 37px; vertical-align: top; padding: 10px 5px 5px; border-bottom: none; }
#main-wrapper table .sub-item table td.cor { line-height: 27px; }
#main-wrapper table .sub-item table td .cores { display: inline-block; margin-bottom: -11px; }
#main-wrapper table .sub-item table td.value { font-size: 18px; }
#main-wrapper table .sub-item .btn-group { padding-top: 10px; }
.tr-btn-group{background:none !important;border-bottom:none !important}

/* Form */

#main-wrapper form .form-row { min-height: 30px; padding-bottom: 10px; vertical-align: middle; }
#main-wrapper form label, #main-wrapper form p.label { display: inline-block; color: #156ca5; font-family: 'PT Sans', sans-serif; font-size: 18px; margin-right: 10px; }
#main-wrapper form input[type=text], #main-wrapper form input[type=email], #main-wrapper form input[type=number], #main-wrapper form input[type=password], #main-wrapper form select { color: #5d5d5d;  font-size: 18px; padding: 5px; margin-right: 10px; border: 1px solid #b8b8b8 !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#main-wrapper form .required-info { font-size: 12px; margin: 15px 0; }
#main-wrapper form .form-data { display: inline-block;}
#main-wrapper form .form-data input { width: 60px !important; min-width: initial; margin-right: 0; }
#main-wrapper form .radio-group { display: inline-block; width: auto; }
#main-wrapper form .radio-group label { min-width: initial; }
#main-wrapper form .checkbox-group { margin-top: 10px; }
#main-wrapper form .checkbox-group label { min-width: initial; margin-right: 20px; }
#main-wrapper form label .auto-selected { color: #727272; line-height: 32px; }
 #main-wrapper form select{width:280px;margin-top:10px;}
 
.has-sub-item { cursor: pointer; }

#acc-email-form form label { min-width: 150px; }
#acc-email-form form input[type=text], #acc-email-form form input[type=email], #acc-email-form form input[type=number], #acc-email-form form input[type=password] { min-width: 300px;  }
#acc-dados-form form label { min-width: 138px; }
#acc-dados-form form label[for=form-dados-sobrenome]{min-width:50px;}
#acc-dados-form .form-data input[type=text]{width:52px;}
#acc-dados-form .form-data input[name=dados_nascimento_ano]{width:68px;}
#acc-dados-form form input[type=text]{width:280px;}
#acc-dados-form form input[name=dados_sobrenome]{width:380px;}

.fa-plus.credit { background: url(../../images/sprite-sua-conta.png) 0 0 no-repeat; color: #FFF; width: 52px; height: 29px; display: inline-block; font-size: 20px; line-height: 35px; text-align: center; }
.fa-minus.debit { background: url(../../images/sprite-sua-conta.png) 0 -38px no-repeat; color: #FFF; width: 51px; height: 29px; display: inline-block; font-size: 20px; line-height: 25px; text-align: center; }
.sub-item-toggle { display: none; }
.has-sub-item .sub-item-toggle { display: inline-block; }
.sub-item-toggle:after { content: "\f055"; color: #30c5bc; font-family: "FontAwesome"; font-size: 20px; width: 16px; height: 16px; display: inline-block; }
.sub-item-toggle.active:after { content: "\f056"; color: #156ca5; }

#page-header h1 {border-bottom: 1px dotted #156ca5; padding-bottom: 10px; }

.page.with-sidebar {padding-bottom: 30px; }
.page.with-sidebar .left {width: 199px; }

.left.acc-links li {margin-bottom: 3px; }
.left.acc-links li a {background: #156ca5; color: #FFF; display: block; padding: 9px; font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 14px; border-radius: 14px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.left.acc-links li a:hover {text-decoration: none; background: #0e518b; text-indent: 5px; }
 
.page.with-sidebar > .right {position: relative; border-left: 1px dotted #156ca5; padding-left: 25px; min-height: 200px; }

/* Sua conta inicio */

#welcome {display: inline-block; margin-bottom: 40px; }
#welcome h2 {font-size: 40px; }
#profile-avatar {width: 124px; margin-right: 20px; text-align: center; } 
#profile-avatar img {width: 124px; height: 124px; } 
#profile-avatar a {color: #156ca5; width: 100%; display: inline-block; font-size: 13px; }

#modal-alterar-foto { display: none; text-align: center; }
#modal-alterar-foto img { width: 200px; height: 200px; border: 5px solid #fff; margin-bottom: 10px; }
#modal-alterar-foto input { display: block; width: 100%; padding: 5px; border: none; margin-bottom: 10px; }
#modal-alterar-foto button { width: 100%; font-size: 16px; padding: 5px; }

#welcome header {/*margin-left: 150px;*/ } 
#welcome header h1 {color: #156ca5; font-family: "steelfish_rgbold_italic"; } 
#welcome header p {color: #727272; font-family: 'PT Sans', sans-serif; /*font-weight: bold;*/ font-size: 15px; margin-bottom: 25px; }
#welcome header #quick-links {font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 	13px; border: 2px solid #3f3f3f; text-transform: uppercase; padding: 5px; overflow: hidden; }
#welcome header #quick-links li {display: inline-block; padding-left: 10px; margin-right: 5px; } 
#welcome header #quick-links a {color: #3f3f3f; position: relative; font-size: 15px; } 
#welcome header #quick-links a:before {content: "\f105"; font-family: "FontAwesome"; font-size: 12px; position: absolute; top: 3px; left: -8px; } 
#welcome header #quick-links a:hover {text-decoration: underline; }

#last-orders {margin-bottom: 40px; } 
#last-orders header {margin-bottom: 10px; } 
#last-orders table td {font-size: 15px; max-width: 220px !important; font-weight: 100; line-height: 22px; } 
#last-orders table tr:nth-child(2n){background: #eaeaea !important; } 
table.acc-historical tr:nth-child(2n){background: #eaeaea !important; }

.page.home #current-accounts {width: 530px; margin-right: 20px; } 
.page.home #current-accounts table td {max-width: 110px; } 
.page.home #account-addresses {width: 380px; }

#account-addresses h3 {font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 17px; padding-bottom: 15px; }
#account-addresses h3 a {display: inline-block; font-family: 'PT Sans', sans-serif; font-size: 12px; margin-left: 5px; color: #156ca5; }
#account-addresses ul li {background: #f7f7f8; padding: 10px; border-bottom: 1px dotted #c4c4c5; margin-bottom: 10px; vertical-align: top; }
#account-addresses ul li:nth-child(3n) { margin-right: 0 !important;}
#account-addresses p {font-size: 14px; line-height: 16px; }
.page.account-edit-addresses #account-addresses ul li { width: 32.5%; margin-right: 1%; display: block;margin-bottom: 1%; min-height: 260px; float: left; position: relative; padding-bottom: 70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#account-addresses ul li .btns { margin-top: 15px; display: table; border-collapse: separate; border-spacing: 3px; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; box-sizing: border-box; width: 100%; }
#account-addresses ul li .btn.btn-enderecos { padding: 5px; vertical-align: middle; height: 40px; display: table-cell; margin: 0 1% 0 0; width: 49%; }

#accounts-list table tbody tr { border-bottom: 1px dotted #c4c4c5; }
#accounts-list > table > tbody { border-bottom: 1px solid #000; }
#accounts-list table td { text-align: left; }
#accounts-list table tfoot td { text-align: left; }
#accounts-list .col-item-status { width: 100px; }
#accounts-list .col-item-desc { text-align: left !important; }
#accounts-list .col-item-value { width: 120px; text-align: right !important; }
#accounts-list .col-item-value { text-align: right !important; }

#acc-password-form form label { min-width: 190px; }
#acc-password-form form input{ width: 300px; }

#acc-address-form { margin-bottom: 30px; }
#acc-address-form .cep input { width: 69px !important; min-width: initial; }
#acc-address-form .cep input#form-endereco-cep-02 { width: 48px !important; }
#acc-address-form .cep a.nao-sei { color: #727272; font-size: 12px; margin-left: 10px; }
#acc-address-form #form-endereco-numero { width: 100px; min-width: initial; }
#acc-address-form form .checkbox-group label { color: #727272; }

#profile-info > ul {margin-bottom: 10px; }
#profile-info > ul > li {font-size: 18px; padding: 15px 0; border-bottom: 1px dotted #cacaca; } 
#profile-info .label {color: #156ca5; min-width: 200px; display: inline-block; } 

#orders-list #search-bar { line-height: 35px; margin-bottom: 20px; }
#orders-list #search-bar form { display: inline-block; vertical-align: top; }
#orders-list #search-bar input { width: auto; display: inline-block; }
#orders-list #search-bar label { font-size: 18px; margin-right: 50px; }
#orders-list #search-bar .pesquisa-data span { color: #3f3f3f; display: inline-block; margin-right: 5px; }
#orders-list #search-bar .pesquisa-data input { width: 40px; min-width: initial; margin-right: 0; }
#orders-list thead { background: #156ca5; }
#orders-list thead th { color: #FFF; }
#orders-list tbody tr {border-bottom: 1px dotted #c4c4c5; }
#orders-list tbody td { font-size: 15px; }
#orders-list tbody td:first-child { text-align: left; }
#orders-list table .col-item-toggle-button { text-align: left !important; }
#orders-list .sub-item-toggle { margin-right: 10px; }
#orders-list .sub-item table td { text-align: left; }
#orders-list .sub-item .btn-group { text-align: center; }

#orders-list table tr.sub-item{border-bottom:none !important;}

/* Detalhes do pedido */

.order-details header h3 { margin-bottom: 10px; }
.order-details .left, .order-details .right { width: 48%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.order-details dl { background: #f7f7f8; width: 100%; display: inline-block; font-size: 15px; }
.order-details dt { font-size: 15px; }
.order-details dt, .order-details dd { width: 49.5%; display: inline-block; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }
.order-details dd { text-align: right; margin-left: -1%; }
.order-details dd > small { display: block; font-size: 11px; }
.order-details strong { font-size: 18px; font-weight: bold; }
.order-details strong small { font-size: 13px; }
.order-details dl.total { background: #525252; color: #FFF; border: none; }
.order-details dl.total dt, .order-details dl.total dd { vertical-align: middle; }

.order-details .section-block { width: 100%; display: inline-block; margin-bottom: 40px; }

.order-details #general-info .review { width: 48% !important; border: 1px solid #525252; position: relative; bottom: 0; padding: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.order-details #general-info .review .left { width: 66%; }
.order-details #general-info .review .right { width: 34%; }
.order-details #general-info .review .btn { padding: 10px; margin: 0; }

.order-details #shipping-address dt,
.order-details #shipping-method dt,
.order-details #payment-address dt { width: 30%; font-weight: bold; }

.order-details #shipping-address dd,
.order-details #shipping-method dd,
.order-details #payment-address dd  { width: 69%; text-align: left; }


.order-details #order-products { margin-bottom: 30px; }
.order-details #order-products .brand { background: #989898; width: 37px; vertical-align: top; padding: 20px 5px 5px; border-bottom: none; }
.order-details #order-products .product-details { text-align: left; width: 65%; }
.order-details #order-products .product-details .info > ul > li { margin-bottom: 9px; }
.order-details #order-products .product-details .info .titulo { margin-bottom: 20px; }
.order-details #order-products .product-details img { float: left; margin: 0 20px 20px 0; }
.order-details #order-products .product-details .info { margin-left: 130px; }
.order-details #order-products .product-details .cor { padding-bottom: 8px; }
.order-details #order-products .product-details .cores, .order-details #order-products .product-details .cores li { display: inline-block; margin-bottom: -8px; }
.order-details #order-products .quantity b { display: block; font-size: 20px; }
.order-details #order-products .product-price { width: 17%; }
.order-details #order-products .product-price.total { text-align: left !important; }
.order-details #order-products .product-price.total span { display: block; font-size: 14px; font-size: normal; }

@media (max-width: 1199px) {
	#main-wrapper .container {margin: 5px 10px; }
	
	.page.with-sidebar > .left {float: none; width: auto; text-align: center; }
	.page.with-sidebar .left.acc-links li {display: inline-block; min-width: 180px; }
 	.page.with-sidebar > .right {margin-top: 25px; padding-left: 0; border-left: none; float: none; width: auto; }
	
	#profile-avatar {/*width: 100%; float: none; margin-bottom: 20px;*/ /*display: none;*/ }
	#profile-avatar img{width: 94px; height: auto; }
	
	#welcome{width: 100%; }
	#welcome header {width: 100%; margin-left: 0; }

	.page.home #current-accounts, .page.home #account-addresses {width: 100%; margin-right: 0; }
	.page.home #current-accounts {margin-bottom: 30px; }
}

@media (max-width: 980px) {	
	#main-wrapper form .form-row { padding-bottom: 0; }
	#main-wrapper form label { width: 100%; margin-bottom: 10px; }
	#main-wrapper form input[type=text], #main-wrapper form input[type=email], #main-wrapper form input[type=number], #main-wrapper form input[type=password] { width: 100%; margin-bottom: 20px; }
	#main-wrapper form button { width: 100%; }

	#quick-links li { width: 100%; margin-bottom: 5px; }

	.page.account-edit-addresses #account-addresses ul li { width: 49% !important; }
	#account-addresses ul li:nth-child(3n) { margin-right: 1% !important;}
}

@media (max-width: 880px) {
	#main-wrapper .btn-group {width: 100%; text-align: center; }
	.required-info {text-align: center; }
	.page.account-edit-addresses #account-addresses ul li { margin-right: 1% !important; }
 	
 	#profile-info span { display: block; max-width: initial; }
	#profile-info span { display: block; }

	.page.with-sidebar .left.acc-links li {display: inline-block; min-width: 100%; }
	.page.with-sidebar .left.acc-links li a{font-size: 17px; }

	#orders-list tbody td:first-child { text-align: center; }
	#orders-list tbody .sub-item-toggle { margin-bottom: 10px; }

	.order-details #general-info .container > .left, .order-details #general-info .container > .right { width: 100% !important; }
	.order-details #general-info .container > .left { margin-bottom: 40px; }

	.order-details #general-info .review { min-height: 1px; text-align: center; }
	.order-details #general-info .review .left, .order-details #general-info .review .right { width: 100%; }
	.order-details #general-info .review .left { margin-bottom: 20px; }
	.order-details #general-info .review .btn { width: 100%; }

	.order-details #order-products table, .order-details #order-products thead, .order-details #order-products tbody, .order-details #order-products th, .order-details #order-products td, .order-details #order-products tr {display: block; }
	.order-details #order-products thead tr { position: absolute; top: -9999px; left: -9999px; }
	.order-details #order-products tbody tr { position: relative; border-bottom: 1px dotted #cdcdcd; }
	.order-details #order-products tbody td { display: inline-block; width: 100%; border: none; padding: 10px; text-align: left; vertical-align: top; }
	.order-details #order-products .brand { width: 100%; padding-top: 10px; }
	.order-details #order-products .product-details { width: 100%; padding-top: 20px; }
	.order-details #order-products .quantity, #main-wrapper tbody .product-price { width: 49% !important; min-height: 50px; vertical-align: middle !important; text-align: center !important; margin: 0; }
	.order-details #order-products .product-price.total { width: 100% !important; text-align: center !important; font-size: 20px; }
	.order-details #order-products .product-price.total span { display: inline; }
	.order-details #order-products .product-price.total strong { font-size: 24px; }
	.order-details #order-products .btn-excluir-produto { position: absolute; top: 15px; right: 10px; }
	.order-details #order-products .selos ul { text-align: center; display: inline-block; }
	.order-details #order-products .selos li { width: 100%; max-width: 100%; padding: 6px; }
}

@media (max-width: 720px) {
	.page.account-edit-addresses #account-addresses ul li { width: 100% !important; min-height: 1px; }
}

@media (max-width: 580px) {
	#last-orders table, #last-orders thead, #last-orders tbody, #last-orders th, #last-orders td, #last-orders tr,
	#orders-list > table, #orders-list > table > thead, #orders-list > table > tbody, #orders-list > table > thead th, #orders-list > table > thead td, #orders-list > table > tbody > tr > td, #orders-list > table > thead tr, #orders-list > table > tbody > tr,
	#accounts-list > table, #accounts-list > table > thead, #accounts-list > table > tbody, #accounts-list > table > thead th, #accounts-list > table > thead td, #accounts-list > table > tbody > tr > td, #accounts-list > table > thead tr, #accounts-list > table > tbody > tr
		{ display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	
	#last-orders thead th:nth-child(1), #last-orders thead th:nth-child(2), #last-orders thead th:nth-child(3) { width: 32%; display: inline-block; vertical-align: middle; }
	#last-orders thead th:nth-child(4), #last-orders thead th:nth-child(5) { position: absolute; top: -9999px; left: -9999px; }
	
	#orders-list thead th:nth-child(1), #orders-list thead th:nth-child(2), #orders-list thead th:nth-child(3) { width: 32%; display: inline-block; vertical-align: middle; }
	#orders-list thead th:nth-child(4), #orders-list thead th:nth-child(5) { position: absolute; top: -9999px; left: -9999px; }

	#last-orders tbody tr,
	#orders-list > table > tbody > tr,
	#accounts-list > table > tbody > tr
		{ border-bottom: 1px dotted #c4c4c5; }

	#last-orders tbody td:nth-child(1), #last-orders tbody td:nth-child(2), #last-orders tbody td:nth-child(3),
	#orders-list > table > tbody > tr > td:nth-child(1), #orders-list > table > tbody > tr > td:nth-child(2), #orders-list > table > tbody > tr > td:nth-child(3)
		{ width: 32%; display: inline-block; vertical-align: middle; }

	#accounts-list > table > tbody > tr > td:nth-child(1), #accounts-list > table > tbody > tr > td:nth-child(2), #accounts-list > table > tbody > tr > td:nth-child(3)
		{ width: 32%; display: inline-block; vertical-align: middle; text-align: center; }

	#last-orders tbody td:nth-child(4), #last-orders tbody td:nth-child(5),
	#orders-list > table > tbody > tr > td:nth-child(4), #orders-list > table > tbody > tr > td:nth-child(5),
	#accounts-list > table > tbody > tr > td:nth-child(4), #accounts-list > table > tbody > tr > td:nth-child(5)
		{ min-width: 100%; width: 100%; text-align: right !important; }

	#accounts-list > table > tbody > tr > td:nth-child(4), #accounts-list > table > tbody > tr > td:nth-child(5)
		{ min-width: 100%; width: 100%; display: inline-block; text-align: center; }

	#last-orders tbody td:nth-child(4), #last-orders tbody td:nth-child(5),
	#orders-list > table > tbody > tr > td:nth-child(4), #orders-list > table > tbody > tr > td:nth-child(5),
	#accounts-list > table > tbody > tr > td:nth-child(4), #accounts-list > table > tbody > tr > td:nth-child(5)
		{ min-width: 100%; width: auto; text-align: right !important; }

	#last-orders tbody td:nth-child(4),
	#orders-list > table > tbody > tr > td:nth-child(4),
	#accounts-list > table > tbody > tr > td:nth-child(4)
		{ border-top: 1px dotted #c4c4c5; border-bottom: 1px dotted #c4c4c5; }

	#last-orders tbody td:nth-child(4):before, #last-orders tbody td:nth-child(5):before,
	#orders-list > table > tbody > tr > td:nth-child(4):before, #orders-list > table > tbody > tr > td:nth-child(5):before,
	#accounts-list > table > tbody > tr > td:nth-child(4):before, #accounts-list > table > tbody > tr > td:nth-child(5):before
		{ width: 50%; text-align: left !important; float: left; padding: 0 !important; }

	#last-orders tbody td:nth-child(4):before,
	#orders-list > table > tbody > tr > td:nth-child(4):before
		{ content: "Forma de Pagamento"; }

	#last-orders tbody td:nth-child(5):before,
	#orders-list > table > tbody > tr > td:nth-child(5):before,
		{ content: "Status"; }

	#accounts-list > table > tbody > tr > td:nth-child(4):before
		{ content: "Total"; }		
	#accounts-list > table > tbody > tr > td:nth-child(5):before
		{ content: "Exibir detalhes"; }
	
	#orders-list tr.sub-item > td, #accounts-list tr.sub-item > td { width: 100% !important; }
	#orders-list tr.sub-item tr, #accounts-list tr.sub-item tr { display: block; position: relative; padding: 10px; }
	#orders-list tr.sub-item td, #accounts-list tr.sub-item td { display: block; }
	#orders-list tr.sub-item .details td, #accounts-list tr.sub-item .details td { margin-bottom: 10px; }
	#orders-list tr.sub-item .brand, #accounts-list tr.sub-item .brand { display: none; }
	#orders-list tr.sub-item .value, #accounts-list tr.sub-item .value { position: absolute; right: 10px; top: 10px; }
	#orders-list .sub-item .tr-btn-group, #orders-list .sub-item .btn-group { width: 100%; max-width: 100%; }
	#orders-list .sub-item .btn-group a { width: 100%; }
}

@media (min-width: 980px) {
	#acc-dados-form #form-dados-sobrenome { width: 40%; }
	#acc-address-form #form-endereco { width: 450px; }
}